<script setup lang="ts">
import type {IButton} from './types';

const { stretched, borderRadius, isLoading, disabled } = defineProps<IButton>();
</script>

<template>
	<button
		:class="[$style.container, 'font-text', {
			[$style.stretched]: stretched,
			[$style.isLoading]: isLoading,
      [$style.disabled]: disabled,
		}]"

		:style="{
			...(!!borderRadius && { borderRadius: `${borderRadius}px` })
		}"

    :disabled="disabled"
	>
		<slot></slot>
	</button>
</template>

<style module>
.container {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  border-radius: var(--style-radius-24);
	color: var(--color-primary-1);
	border: 1px solid var(--color-primary-1);
	background-color: unset;
}

.disabled {
	color: var(--color-gray-73);
	border-color: var(--color-gray-89);
	cursor: default;
}

.stretched {
	width: 100%;
}

.isLoading {
	color: var(--color-gray-73);
	border-color: var(--color-gray-89);
	background: linear-gradient(45deg,
	transparent, var(--color-gray-89),
	transparent, var(--color-gray-89)
	);
	background-size: 300% 300%;
	animation: wave 1.5s linear infinite;
}

@keyframes wave {
	0% { background-position: top 0% left 100%; }
	100% { background-position: top 99% left 0%; }
}
</style>
