<script setup lang="ts">
import type {IButton} from "./types";

const { isLoading, disabled } = defineProps<IButton>();
</script>

<template>
	<button
		:class="[$style.container, {
			[$style.isLoading]: isLoading,
      [$style.disabled]: disabled,
		}]"

    :disabled="disabled"
	>
		<slot></slot>
	</button>
</template>

<style module>
.container {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
  border-radius: var(--style-radius-24);
	border: unset;
	background: unset;
	color: var(--color-primary-1);
  font: var(--font-text);
}

.disabled {
	color: var(--color-gray-73);
	cursor: default;
}

.isLoading {
	color: var(--color-gray-73);
	border-color: var(--color-gray-89);
	background: linear-gradient(45deg,
	transparent, var(--color-gray-89),
	transparent, var(--color-gray-89)
	);
	background-size: 300% 300%;
	animation: wave 1.5s linear infinite;
}

@keyframes wave {
	0% { background-position: top 0% left 100%; }
	100% { background-position: top 99% left 0%; }
}
</style>
