<script setup lang="ts">
import {useDebounce} from "@vueuse/core";
import {ref, watch} from "vue";

import {NotAuthorizedModal} from "@/features/change-post-rating";

import {useInvertedPostActions, useViewerStore, AuthStatues} from "@/entities/user";


import {RateUpIcon, RateDownIcon} from '@/shared/ui/assets';
import {ModalUI} from "@/shared/ui/components/modal-ui";


import {changePostRating} from "../api/change-post-rating";
import {PostVoteValue} from "../api/types";
import {useRatingHandlers} from "../lib/use-rating-handlers";
import type {ChangePostRatingEmits, ChangePostRatingProps} from "../types";

const emits = defineEmits<ChangePostRatingEmits>();
const { post } = defineProps<ChangePostRatingProps>();
const ratingHandlers = useRatingHandlers(post.rating, post.voted);
const postRatingRef = ref(post.rating);
const inverted = useInvertedPostActions();

const debouncedRating = useDebounce(ratingHandlers.rating, 1000);
const viewer = useViewerStore();

watch([debouncedRating], async () => {
	const changeVote = async (vote: PostVoteValue, updateRef?: boolean) => {
		await changePostRating(post.slug, vote);
		updateRef && (postRatingRef.value = debouncedRating.value);
	};

	if (debouncedRating.value > postRatingRef.value) {
		if (debouncedRating.value == postRatingRef.value + 2) {
			await changeVote(PostVoteValue.PLUS);
		}

		await changeVote(PostVoteValue.PLUS, true);
	}

	if (debouncedRating.value < postRatingRef.value) {
		if (debouncedRating.value == postRatingRef.value - 2) {
			await changeVote(PostVoteValue.MINUS);
		}

		await changeVote(PostVoteValue.MINUS, true);
	}
});

const showModalRef = ref(false);

const ratingChangeHandler = (callback: VoidFunction) => {
	if (viewer.authStatus === AuthStatues.AUTHORIZED) {
		callback();
	} else {
		showModalRef.value = true;
	}
};
</script>

<template>
	<div :class="[$style.container, { [$style.inverted]: inverted }]">
		<button
			:class="$style.ratingButton"
			@click="ratingChangeHandler(ratingHandlers.handleRatingRaiseClick)"
			data-type="plus"
			:data-active="ratingHandlers.ratingIncreased.value"
		>
			<RateUpIcon :class="$style.icon" />
		</button>
		<span
			@click.stop="emits('show-details')"
			:class="[$style.ratingCount, 'font-text-small']"
		>
			{{ ratingHandlers.rating }}
		</span>
		<button
			:class="$style.ratingButton"
			@click="ratingChangeHandler(ratingHandlers.handleRatingDecreaseClick)"
			data-type="minus"
			:data-active="ratingHandlers.ratingDecreased.value"
		>
			<RateDownIcon :class="$style.icon" />
		</button>

		<ModalUI :open="showModalRef" @close="showModalRef = false">
			<NotAuthorizedModal @close-modal="showModalRef = false" />
		</ModalUI>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-content: start;
	justify-items: center;
	align-items: center;
	gap: 8px;
}

.inverted {
	flex-direction: row-reverse;
}

.ratingButton {
	display: flex;
	color: var(--color-gray-73);
	background: var(--color-gray-92);
  border-radius: var(--style-radius-24);
	border: none;
	cursor: pointer;
	transition:
		opacity 0.3s ease-in-out,
		color 0.3s ease-in-out;
}

.ratingButton:hover {
	opacity: 0.7;
}

.ratingButton[data-type='minus']:hover,
.ratingButton[data-type='minus'][data-active='true'] {
	color: var(--color-red-70);
}

.ratingButton[data-type='plus']:hover,
.ratingButton[data-type='plus'][data-active='true'] {
	color: var(--color-green-42);
}

.icon {
	width: 32px;
	height: 32px;
}

.ratingCount {
	cursor: pointer;
  text-align: center;
  min-width: 2em;
}
</style>
