<script setup lang="ts">
import { ref } from 'vue';

// eslint-disable-next-line
import AuthWidget from '@/widgets/auth-widget/AuthWidget.vue';

import { ButtonUI, TextButtonUI } from '@/shared/ui/components/button-ui';

import type { NotAuthorizedModalEmits } from './types';

const emits = defineEmits<NotAuthorizedModalEmits>();
const showAuthWidget = ref(false);
</script>

<template>
	<div v-if="!showAuthWidget" :class="$style.container">
		<h3 :class="$style.title">
			Чтобы поставить оценку, вы должны войти в аккаунт или зарегистрироваться
		</h3>
		<ButtonUI @click="showAuthWidget = true" :class="$style.button">Войти</ButtonUI>
		<TextButtonUI @click="emits('close-modal')" :class="$style.button">Закрыть</TextButtonUI>
	</div>
	<AuthWidget :class="$style.containerAuth" v-if="showAuthWidget" />
</template>

<style module lang="scss">
@mixin wrapper {
	margin: 0 auto;
	width: 430px;

	@media screen and (max-width: $screen-md) {
		width: 360px;
	}
}

.container {
	@include wrapper();
	padding: 20px 12px;
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	color: var(--color-gray-22);
	background-color: var(--color-gray-98);
}

.containerAuth {
	@include wrapper();
	padding: 32px;
	color: var(--color-gray-8);
	border-radius: var(--style-radius-10);
}

.title {
	font: var(--font-text);
}

.button {
	border-radius: 24px;
	font-weight: 700;
}
</style>
