<script setup lang="ts">
import { TooltipUI } from '@/shared/ui/components/tooltip-ui';

import type { PostRatingDetailsProps } from './types';

const { post } = defineProps<PostRatingDetailsProps>();
</script>

<template>
	<TooltipUI>
		<div :class="$style.content">
			<span :class="$style.votes_down">{{ post.votes_up_count }}</span>
			<span> / </span>
			<span :class="$style.votes_up">{{ post.votes_down_count }}</span>
		</div>
	</TooltipUI>
</template>

<style module>
.content {
	padding: 4px 12px;
	font: var(--font-text);
}

.votes_up {
	color: var(--color-primary-1);
}

.votes_down {
	color: var(--color-red-70);
}
</style>
