<script setup lang="ts">
import {storeToRefs} from 'pinia';
import {useRouter} from "vue-router";

import {Routes} from '@/pages';

import {ToggleGlobalThemeFeature} from '@/features/toggle-global-theme';

import {useAuthStore, useViewerStore, ViewerPreview} from '@/entities/user';

import {
  PlusIcon, ConfigurationIcon, IgnoreIcon, EyeIcon,
  SaveIcon, CommentIcon, RespondIcon, ExitIcon
} from '@/shared/ui/assets';
import {IconSizes,Icon} from "@/shared/ui/components/icon";
import {IconFilledButtonUI} from "@/shared/ui/components/icon-button-ui";
import {TextLink} from "@/shared/ui/components/link";
import {BlockSuspenseUI} from '@/shared/ui/components/loaders-ui';
import {NotificationTextUI} from "@/shared/ui/components/notification-text-ui";
import {HoverTextUI} from "@/shared/ui/components/text-ui";

const router = useRouter();
const viewer = useViewerStore();
const auth = useAuthStore();
const {profile, isLoading, error} = storeToRefs(viewer);

const logout = () => {
  auth.logout();
  viewer.setViewer(null);
  router.push('/');
};

const menuItems = {
  REPLIES: {name: Routes.REPLIES, title: 'Ответы', notification: {count: 110, attract: true,}},
  COMMENTS: {name: Routes.COMMENTS, title: 'Комментарии', notification: {count: 1430, attract: false,}},
  SAVED: {name: Routes.SAVED, title: 'Сохранённое', notification: {count: 10, attract: true,}},
  VIEWED: {name: Routes.VIEWED, title: 'Просмотренное', notification: {count: 220, attract: true,}},
  BLACK_LIST: {name: Routes.BLACK_LIST, title: 'Игнор-лист', notification: {count: 25462, attract: true,}},
  SETTINGS: {name: Routes.SETTINGS, title: 'Настройки', notification: {count: 10, attract: false,}},
};
</script>

<template>
  <div :class="$style.container" v-if="viewer.isLoading || viewer.profile">
    <section :class="$style.section">
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <ViewerPreview :profile="profile">
          <template #action>
            <ToggleGlobalThemeFeature/>
          </template>
        </ViewerPreview>
      </BlockSuspenseUI>
    </section>

    <section :class="`${$style.section} ${$style.menuSection}`">
      <BlockSuspenseUI
          :loading="isLoading" :error="error?.message"
          v-for="item in menuItems" :key="item.name"
      >
        <div :class="$style.menuItem">
          <div :class="$style.notification">
            <div :class="$style.menuItem">
              <Icon :size="IconSizes.SIXTEEN">
                <RespondIcon :class="[$style.menuIcon, $style.replyIcon]" v-if="item.name === Routes.REPLIES"/>
                <CommentIcon :class="[$style.menuIcon, $style.commentsIcon]" v-if="item.name === Routes.COMMENTS"/>
                <SaveIcon :class="[$style.menuIcon, $style.savesIcon]" v-if="item.name === Routes.SAVED"/>
                <EyeIcon :class="[$style.menuIcon, $style.eyeIcon]" v-if="item.name === Routes.VIEWED"/>
                <IgnoreIcon :class="$style.menuIcon" v-if="item.name === Routes.BLACK_LIST"/>
                <ConfigurationIcon :class="$style.menuIcon" v-if="item.name === Routes.SETTINGS"/>
              </Icon>

              <TextLink :to="item">{{ item.title }}</TextLink>
            </div>
            <NotificationTextUI
                v-if="item.notification"
                :attract="item.notification.attract"
            >
              {{ item.notification.count }}
            </NotificationTextUI>
          </div>
        </div>
      </BlockSuspenseUI>
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <div :class="$style.menuItem" @click="logout">
          <ExitIcon :class="$style.menuIcon" />
          <HoverTextUI>Выйти</HoverTextUI>
        </div>
      </BlockSuspenseUI>
    </section>

    <section :class="[$style.section, $style.createPostSection]">
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <router-link :to="{ name: Routes.POST_EDITOR }" :class="$style.createPostButton">
          <IconFilledButtonUI>
            <template #left-icon>
              <PlusIcon :class="$style.createPostIcon"/>
            </template>
            <template #right-icon>
              Создать пост
            </template>
          </IconFilledButtonUI>
        </router-link>
      </BlockSuspenseUI>
      <BlockSuspenseUI :loading="isLoading" :error="error?.message">
        <router-link class="font-small color-primary-1" :to="{ name: Routes.DRAFTS }">
          Мои черновики
        </router-link>
      </BlockSuspenseUI>
    </section>
  </div>
</template>

<style module lang="scss">
.container {
  padding: 32px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-gray-98);
  font: var(--font-text);
  color: var(--color-gray-22);
  border-radius: var(--style-radius-10);
  width: 100%;
  gap: 32px;
}

.section {
  display: flex;
  justify-items: start;
  align-items: center;
  width: 100%;
}

.menuSection {
  align-items: start;
  flex-direction: column;
  gap: 16px;
}

.createPostSection {
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

.menuItem {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 24px;
  gap: 8px;
}

.menuItem:hover {
  color: var(--color-primary-1);
  cursor: pointer;
}

.menuIcon {
  width: 16px;
  height: 16px;
  color: var(--color-gray-53);
}

.replyIcon {
  scale: 1 0.9;
}

.commentsIcon {
  scale: 1.5;
}

.savesIcon {
  scale: 1.35;
}

.eyeIcon {
  scale: 1.1;
}

.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.createPostButton {
  gap: 10px;
  width: 100%;
  font: var(--font-text);
}
.createPostButton > * {
  width: 100%;
  height: 40px;
}

.createPostIcon {
  width: 12px;
  height: 12px;
  color: var(--color-contrast-primary-1);
}
</style>
