<script setup lang="ts">
import type {Props} from './types';

const { attract } = defineProps<Props>();
</script>

<template>
	<div :class="{ [$style.container]: true, [$style.attract]: attract }">
		<slot></slot>
	</div>
</template>

<style module lang="scss">
.container {
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 18px;
	border-radius: var(--style-radius-100);
	font: var(--font-small);
	color: var(--color-primary-1);
}
.attract {
	background-color: var(--color-primary-1);
	color: var(--color-contrast-primary-1);
}

@media screen and (max-width: $screen-xl) {
	.container {
		padding: 2px 0 2px 6px;
	}

	.attract {
		padding-right: 6px;
	}
}
</style>
