<script setup lang="ts">
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.loader"/>
    <slot></slot>
  </div>
</template>

<style module lang="scss">
.container {
  position: relative;
	display: block;
	width: 100%;
	height: 100%;
  border-radius: var(--style-radius-10);
  overflow: hidden;
}

.loader {
  position: absolute;
	display: block;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg, var(--color-gray-98),
    var(--color-gray-89), var(--color-gray-98), var(--color-gray-89)
  );
  border-radius: var(--style-radius-10);
  background-size: 300% 300%;
  animation: wave 1.5s linear infinite;
  z-index: 1;
}

@keyframes wave {
  0% { background-position: top 0% left 100%; }
  100% { background-position: top 99% left 0%; }
}
</style>
