<script setup lang="ts">
import {BlockErrorUI} from '../error-ui';

import BlockLoaderUI from './BlockLoaderUI.vue';
import type {SuspenseUIProps} from './types';

const props = defineProps<SuspenseUIProps>();
</script>

<template>
	<BlockLoaderUI v-if="props.loading">
		<slot />
	</BlockLoaderUI>

	<BlockErrorUI v-else-if="props.error">
		<template #error>
			<span v-html="props.error" />
		</template>
		<template #content>
			<slot />
		</template>
	</BlockErrorUI>

	<slot v-else />
</template>

<style module lang="scss"></style>
