<script setup lang="ts">
//TODO
// eslint-disable-next-line
import {useThemeStore} from '@/app/providers/stores';
import {Routes, routes} from '@/pages';

import {sidebars} from '@/features/sidebars';

import {PlusIcon} from '@/shared/ui/assets';
import {IconFilledButtonUI} from "@/shared/ui/components/icon-button-ui";
import {TextLink} from '@/shared/ui/components/link';
import {NotificationTextUI} from '@/shared/ui/components/notification-text-ui';

import type {INavLink} from "./types";

const ThemeStore = useThemeStore();

// const selectedOption = ref(null);
// const options = ref<Option[]>([
// 	{ text: 'Лига капибар', value: '1' },
// 	{ text: 'Лига капибар 1', value: '2' },
// 	{ text: 'Лига капибар 2', value: '3' }
// ]);

//TODO move component to right place
//TODO refactoring links
const routeToLink = (route: INavLink): INavLink => {
	return {
		...route,
		title: (route.meta?.title as string) ?? ''
	};
};

const navigationLinks = [
	routes.TRENDS,
].map(routeToLink);

const profileLinks = [
	routes.LOGOUT
].map(routeToLink);

const footerLinks: INavLink[] = [];
</script>

<template>
	<aside
		v-if="sidebars.navSidebar || sidebars.profileSidebar"
		:class="[
			$style.mobileNavigationPage,
			{
				[$style.mobileProfileNavigationPage]: sidebars.profileSidebar
			}
		]"
	>
		<template v-if="sidebars.navSidebar">
			<div :class="$style.navigationPanel">
				<div :class="$style.links">
					<TextLink
						v-for="(item, index) in navigationLinks"
						:key="index"
						:class="[
							$style.link,
							{
								[$style.active]: index == 0,
								[$style.activeDark]: ThemeStore.themeMode == 'dark' && index == 0
							}
						]"
						:to="item.path"
					>
						<!-- TODO -->
						<span>{{ item.meta?.title }}</span>
					</TextLink>
				</div>
<!--				<div :class="$style.searchBlock">-->
<!--					<SearchInputUI model-value="" placeholder="Найти пост..." />-->
<!--				</div>-->
			</div>
			<div :class="$style.footer">
				<div :class="$style.footerLinks">
<!--					<TextLink :to="{ name: Routes.NOT_FOUND }" :class="$style.footerLink">-->
<!--						<Icon :size="IconSizes.SIXTEEN">-->
<!--							<BugIcon />-->
<!--						</Icon>-->
<!--						<span>Сообщить о багах</span>-->
<!--					</TextLink>-->
					<TextLink
						v-for="(item, index) in footerLinks"
						:class="$style.footerLink"
						:key="index"
						:to="item.path"
					>
						<!-- TODO						-->
						<span>{{ item.meta?.title }}</span>
					</TextLink>
				</div>
				<div :class="$style.socialLinks">
<!--					<router-link :to="{ name: Routes.NOT_FOUND }">-->
<!--            <Icon :size="IconSizes.SIXTEEN">-->
<!--              <SocialVkIcon/>-->
<!--            </Icon>-->
<!--          </router-link>-->
<!--          <router-link :to="{ name: Routes.NOT_FOUND }">-->
<!--            <Icon :size="IconSizes.SIXTEEN">-->
<!--              <SocialTgIcon/>-->
<!--            </Icon>-->
<!--          </router-link>-->
				</div>
			</div>
		</template>
		<template v-else>
			<div :class="[$style.navigationPanel, $style.profilePanel]">
				<div :class="[$style.links, $style.profileLinks]">
					<TextLink
						v-for="(item, index) in profileLinks"
						:key="index"
						:class="[$style.link, $style.profileLink]"
						:to="item.path"
					>
						<!-- TODO						-->
						<span>{{ item.meta?.title }}</span>
						<NotificationTextUI v-if="item.notifications" :attract="!!item.attract">{{
							item.notifications
						}}</NotificationTextUI>
					</TextLink>
				</div>
				<div :class="$style.buttons">
          <IconFilledButtonUI :class="$style.createPostButton">
            <template #left-icon>
              <PlusIcon :class="$style.createPostIcon" />
            </template>
            <template #right-icon>
              <router-link :to="{ name: Routes.POST_EDITOR }">Создать пост</router-link>
            </template>
          </IconFilledButtonUI>
<!--					<div :class="$style.button">-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Создать группу</TextLink>-->
<!--					</div>-->
					<div :class="[$style.button, $style.buttonBorderless]">
						<TextLink :to="{ name: Routes.NOT_FOUND }">Мои черновики</TextLink>
					</div>
				</div>
			</div>

<!--			<div :class="[$style.navigationPanel, $style.profilePanel]">-->
<!--				<span :class="$style.title">Управление группой</span>-->
<!--				<SelectUI-->
<!--					:class="$style.chooseGroup"-->
<!--					:options="options"-->
<!--					attractor-placeholder="Выберите группу"-->
<!--					v-model="selectedOption"-->
<!--				/>-->
<!--				<div :class="[$style.links, $style.profileLinks]">-->
<!--					<TextLink-->
<!--						v-for="(item, index) in groupLinks"-->
<!--						:key="index"-->
<!--						:class="[$style.link, $style.profileLink]"-->
<!--						:to="item.path"-->
<!--					>-->
<!--						&lt;!&ndash; TODO						&ndash;&gt;-->
<!--						<span>{{ item.meta?.title }}</span>-->
<!--						<NotificationTextUI v-if="item.notifications" :attract="!!item.attract">{{-->
<!--							item.notifications-->
<!--						}}</NotificationTextUI>-->
<!--					</TextLink>-->
<!--				</div>-->
<!--				<div :class="$style.buttons">-->
<!--					<div :class="[$style.button, $style.buttonFilled]">-->
<!--						<Icon :size="IconSizes.EIGHT">-->
<!--							<PlusIcon />-->
<!--						</Icon>-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Создать пост</TextLink>-->
<!--					</div>-->
<!--					<div :class="$style.button">-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Добавить пользователей</TextLink>-->
<!--					</div>-->
<!--					<div :class="[$style.button, $style.buttonBorderless]">-->
<!--						<TextLink :to="{ name: Routes.NOT_FOUND }">Выйти из группы</TextLink>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div :class="[$style.navigationPanel, $style.profilePanel]">-->
<!--				<span :class="$style.title">Модерация</span>-->
<!--				<div :class="[$style.links, $style.profileLinks]">-->
<!--					<TextLink-->
<!--						v-for="(item, index) in moderationLinks"-->
<!--						:key="index"-->
<!--						:class="[$style.link, $style.profileLink]"-->
<!--						:to="item.path"-->
<!--					>-->
<!--						&lt;!&ndash; TODO						&ndash;&gt;-->
<!--						<span>{{ item.meta?.title }}</span>-->
<!--						<NotificationTextUI v-if="item.notifications" :attract="!!item.attract">{{-->
<!--							item.notifications-->
<!--						}}</NotificationTextUI>-->
<!--					</TextLink>-->
<!--				</div>-->
<!--			</div>-->
		</template>
	</aside>

	<div @click="sidebars.toggleSidebar" v-if="sidebars.navSidebar || sidebars.profileSidebar" :class="$style.overlay"></div>
</template>

<style module>
.mobileNavigationPage {
	position: fixed;
	top: 56px;
	left: 0;
	bottom: 0;
	overflow-y: scroll;
	height: calc(100vh - 56px);
	z-index: 2;
	display: flex;
	min-width: 256px;
	flex-direction: column;
	font-weight: 400;
	font-family: var(--font-family-default);
	background: var(--color-gray-89);
}

.mobileProfileNavigationPage {
	left: auto;
	right: 0;
	gap: 24px;
}

.mobileNavigationPage::-webkit-scrollbar {
	display: none;
}

.overlay {
	z-index: 1;
	position: fixed;
	top: 56px;
	left: 0;
	width: 100%;
	max-width: 100vw;
	height: calc(100vh - 56px);
	background-color: var(--color-black-0-70);
	cursor: pointer;
}

.mobileNavigationPage,
.overlay {
	border-top: 1px solid var(--color-gray-89);
}

.navigationPanel {
	flex-grow: 1;
	padding: 20px 12px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: var(--color-gray-98);
	color: var(--color-gray-14);
}

.profilePanel {
	flex-grow: 0;
	gap: 20px;
}

.profilePanel:last-child {
	flex-grow: 1;
}

.links {
	display: flex;
	flex-direction: column;
	font: var(--font-sub-title);
}

.profileLinks {
	font: var(--font-text-bold);
	gap: 16px;
}

.link {
	color: var(--color-gray-22);
	padding: 8px;
	cursor: pointer;
}

.profileLink {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 0;
	gap: 10px;
}

.active {
	font: var(--font-sub-title-bold);
	color: var(--color-primary-2);
}

.activeDark {
	background-color: #000000;
	border-radius: 6px 0 0 6px;
}

.searchBlock {
	height: fit-content;
	position: relative;
}

.footer {
	display: flex;
	gap: 20px;
	padding: 20px;
	flex-direction: column;
	background-color: var(--color-gray-95);
}

.footerLinks {
	display: flex;
	gap: 20px;
	flex-direction: column;
	font: var(--font-text);
	color: var(--color-gray-53);
}

.footerLink {
	display: flex;
	justify-content: start;
	align-items: center;
	cursor: pointer;
	gap: 8px;
}

.socialLinks {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.socialLinks a {
  padding: 8px;
	background-color: rgba(54, 52, 59, 1);
  display: flex;
  justify-items: center;
  align-items: center;
	border-radius: 8px;
}

.buttons {
	display: flex;
	justify-items: start;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 20px;
}

.button {
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: 100%;
	height: 40px;
	color: var(--color-primary-1);
	font: var(--font-text-bold);
	border: 1px solid var(--color-primary-1);
	border-radius: var(--style-radius-24);
}

.buttonFilled {
	background-color: var(--color-primary-1);
	color: var(--color-contrast-primary-1);
}

.buttonBorderless {
	border: none;
}

.title {
	font: var(--font-title);
	color: var(--color-gray-22);
}

.chooseGroup {
	width: 245px;
}
</style>
