<script setup lang="ts">

</script>

<template>
  <div :class="$style.container">
    <slot></slot>
  </div>
</template>

<style module lang="scss">
.container {
	margin: 0 12px;
	padding: 20px 12px;
	width: 100%;
	background-color: var(--color-gray-98);
	border-radius: var(--style-radius-10);
	box-shadow: 0 2px 3px var(--color-black-0-30),
							0 6px 10px 4px var(--color-black-0-15);
}
</style>
