<script setup lang='ts'>
const { fixedRight, withCustomLayout } = defineProps<{ fixedRight?: boolean; withCustomLayout?: boolean }>()
</script>

<template>
	<div :class="[$style.container, {
		[$style.noPaddings]: withCustomLayout,
	}]">
		<div :class="$style.leftColumn">
			<slot name="left-column"></slot>
		</div>
		<div :class="[$style.rightColumn, {
			[$style.rightColumnFixed]: fixedRight,
		}]">
			<slot name="right-column"></slot>
		</div>
	</div>
</template>

<style module lang='scss'>
.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 20px;
	padding: 16px;
}

.noPaddings {
	padding: 0;
}

.leftColumn,
.rightColumn {
	flex-basis: 50%;
}

.rightColumnFixed {
	flex-shrink: 0;
}

@media screen and (max-width: $screen-sm) {
	.container {
		flex-direction: column;
		align-items: stretch;
		padding: 4px 0;
	}
}
</style>
