<script setup lang="ts">
type PostBlockImageProps = {
  width: number,
  height: number,
  src: string,
}

const props = defineProps<PostBlockImageProps>();
</script>

<template>
  <div :class="$style.imageContainer">
    <img
        :src="props.src"
        alt="Post Image"
        :class="$style.image"
        :style="{ width: props.width, height: props.height }"
    />
  </div>
</template>

<style module lang="scss">
.imageContainer {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.image {
  max-width: 100%;
}
</style>
