<script setup lang="ts">
import {onMounted, ref} from 'vue';

import {Routes} from "@/pages";

import {ArrowDownIcon, ArrowIcon} from '@/shared/ui/assets';
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {IconSizes, Icon} from "@/shared/ui/components/icon";
import {IconTextButtonUI} from '@/shared/ui/components/icon-button-ui';

import {PostContentTypes} from '../model/types';

import PostBlockHTML from "./PostBlockHTML.vue";
import PostBlockImage from "./PostBlockImage.vue";
import type {PreviewPostProps} from './types';

//TODO Refactor showFooter, showProfile, setup they should not be here.

const {post, showProfile, showFooter} = withDefaults(defineProps<PreviewPostProps>(), {
  showFooter: true,
  showProfile: true
});

const minCollapsableHeight = 700;
const minHiddenHeight = 700;

const collapsable = ref(false);
const collapsed = ref(false);

const postElement = ref<HTMLElement | null>(null);

const toggleCollapsed = () => {
  collapsed.value = !collapsed.value;

  if (collapsed.value) {
    postElement.value?.scrollIntoView({behavior: "instant", block: "nearest", inline: "nearest"});
  }
}

const setup = (postElement: HTMLElement | null) => {
  if (postElement == null) {
    return;
  }

  const isCollapsable = (
      (postElement.offsetHeight > minCollapsableHeight) &&
      (postElement.offsetHeight - minCollapsableHeight) > minHiddenHeight
  );

  collapsable.value = isCollapsable;
  collapsed.value = isCollapsable;
};

onMounted(() => {
  setup(postElement.value);
});
</script>

<template>
  <main :class="[$style.container, 'color-bg-gray-98']" ref="postElement">
    <header v-show="showProfile" :class="$style.header">
      <slot name="header" :profile="post.author"></slot>
    </header>

    <main :class="$style.main">
      <div :class="$style.title">
        <h1 class="font-title">
          <router-link :to="{ name: Routes.POST, params: { slug: post.slug } }">
            {{ post.title }}
          </router-link>
        </h1>
        <span class="font-smaller"><slot name="tags"/></span>
      </div>

      <div :class="[$style.content, 'font-text', { [$style.contentCollapsed]: collapsed }]">
        <template
            v-for="(content, index) in post.content"
            :key="index"
        >
          <PostBlockImage
              v-if="content.type === PostContentTypes.IMAGE"
              :src="(content.src || content.value) as string"
              :width="content.width"
              :height="content.height"
          />

          <PostBlockHTML
              v-else-if="content.type === PostContentTypes.HTML || content.type === PostContentTypes.TEXT"
              :html="content.value"
          />

          <ErrorUI v-else>
            {{ content }} - неизвстный тип контента!
          </ErrorUI>
        </template>
      </div>

      <IconTextButtonUI
          v-if="collapsable"
          @click="toggleCollapsed"
          :class="$style.buttonCollapse"
      >
        <template #text>
          {{ collapsed ? 'Развернуть' : 'Свернуть' }}
        </template>
        <template #right-icon>
          <Icon :size="IconSizes.TWELVE">
            <ArrowDownIcon v-if="collapsed"/>
            <ArrowIcon v-else :class="$style.arrowIcon"/>
          </Icon>
        </template>
      </IconTextButtonUI>
    </main>

    <footer v-show="showFooter" :class="$style.footer">
      <slot name="footer"></slot>
    </footer>
  </main>
</template>

<style module lang="scss">
.container {
  display: flex;
  justify-items: start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding: 32px 0;
  border-radius: var(--style-radius-10);
}

.header {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  color: var(--color-gray-14);
}

.title {
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 12px;
}

.content {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.arrowIcon {
  width: 10px;
  height: 6px;
}

.contentCollapsed {
  max-height: 700px;
  overflow-y: hidden;
}

.buttonCollapse {
  padding: 0 32px;
  color: var(--color-primary-2);
  justify-content: left;
  width: 100%;
}

.buttonCollapse:hover {
  color: var(--color-primary-1);
}

.footer {
  padding: 24px 24px 0 24px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  border-top: 1px solid var(--color-base-bg);
  color: var(--color-gray-53);
}

@media screen and (max-width: $screen-sm) {
  .container {
    padding: 20px 0 0 0;
    border-radius: 0;
  }
  .main {
    gap: 12px;
  }
  .footer {
    padding: 16px 20px;
  }
}
</style>
