<script setup lang='ts'>
import type {IIconButtonProps} from './types';

const { borderless, size } = defineProps<IIconButtonProps>();
</script>

<template>
	<button
		:class="[$style.container, {
			[$style.borderless]: borderless
		}]"
		:style="{...(size && {
			width: `${size}px`,
			height: `${size}px`,
		})}"
	>
		<slot />
	</button>
</template>

<style module lang="scss">
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 32px;
	width: 32px;
	font: var(--font-small);
	color: var(--color-gray-98);
	background-color: unset;
  border-radius: var(--style-radius-24);
	border: 1px solid var(--color-primary-1);
}

.borderless {
	border: none;
}
</style>
