<script setup lang='ts'>
import {storeToRefs} from "pinia";
import {watch} from "vue";
import {useRoute} from 'vue-router';

import {Routes} from "@/pages";

import {ChangePostRating} from "@/features/change-post-rating";
import {FeedSwitchPanel} from '@/features/feed-switch-panel';
import {SavePostToFavorites} from "@/features/save-post-to-favorites";
import {SharePost} from "@/features/share-post";

import {PublishedPostActions,PreviewPostUI, PostStatusEnum} from "@/entities/post";
import type {Fetcher} from "@/entities/posts-feed";
import {
  PostsFeed,
  createUserFeedFetcher,
  useUserFeed
} from "@/entities/posts-feed";
import {TagsList} from '@/entities/tag';
import {ViewerPreview, useViewerStore} from '@/entities/user';

import {ElongatedBlockUI, TwoColumnsBlock} from '@/shared/ui/components/block-ui';
import {ButtonUI} from '@/shared/ui/components/button-ui';
import {LoaderUI} from "@/shared/ui/components/loaders-ui";

const {params} = useRoute();
const {isLoading, profile} = storeToRefs(useViewerStore());

const feed = useUserFeed();
let fetcher: Fetcher;

const setFetcher = (username: string) => {
	fetcher = createUserFeedFetcher(username);
}

const reload = (username: string) => {
	setFetcher(username);
	feed.reload(fetcher);
};

if (params.username) {
	reload(params.username as string);
} else {
	if (profile.value) {
		reload(profile.value.username);
	} else {
		watch(profile, (profile) => {
			if (profile) {
				reload(profile.username);
			}
		});
	}
}
</script>

<template>
  <div :class="$style.feedHeaderContainer">
    <ElongatedBlockUI :customPaddings="true">
      <div :class="$style.feedHeader">
        <FeedSwitchPanel/>
      </div>
    </ElongatedBlockUI>

    <div :class="$style.feedContainer">
      <LoaderUI v-if="isLoading">Опознаем пользователя..</LoaderUI>
      <PostsFeed
          v-else
          :is-loading="feed.isLoading"
          :is-last-page="feed.isLastPage"
          :error="feed.error? feed.error.message : null"
          :posts="feed.posts"
          @scroll-end="feed.upload(fetcher)"
      >
        <template #post="{ post }">
          <PreviewPostUI :key="post.uuid" :post="post" :show-profile="true" :show-footer="true">
            <template #header="{ profile }">
              <ViewerPreview :profile="profile">
                <template #subTitle="{ class: className }">
                  <span :class="className">{{ post.time_ago }}</span>
                </template>
              </ViewerPreview>
            </template>

            <template #tags>
              <TagsList :tags="post.tags" />
            </template>

            <template #footer v-if="post.status === PostStatusEnum.PUBLISHED">
              <PublishedPostActions :post="post">
                <template #left-actions>
                  <ChangePostRating :post="post"/>
                </template>
                <template #right-actions>
                  <SavePostToFavorites/>
                  <SharePost/>
                </template>
              </PublishedPostActions>
            </template>
          </PreviewPostUI>
        </template>

        <template #all-loaded>
          <TwoColumnsBlock fixedRight>
            <template #left-column>
              <p class="font-text">
                У пользователя больше нет постов.
                Заглянем в Тренды?
              </p>
            </template>
            <template #right-column>
              <router-link :to="{ name: Routes.TRENDS }">
                <ButtonUI stretched>В тренды</ButtonUI>
              </router-link>
            </template>
          </TwoColumnsBlock>
        </template>
      </PostsFeed>
    </div>
  </div>
</template>

<style module lang='scss'>
.feedHeader {
  width: 100%;
  padding: 0 30px;
}

.feedContainer {
  padding-top: 32px;
  align-items: start;
  gap: 32px;
}

.feedHeaderContainer {
  margin-top: 0;
  width: 100%;
}

.feed {
  display: flex;
  justify-items: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.allLoaded {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 16px;
}

.allLoadedTitle,
.allLoadedButton {
  flex-basis: 50%;
}

.allLoadedButton {
  flex-shrink: 0;
}

@media screen and (max-width: $screen-lg) {
  .feedHeaderContainer {
    margin-top: 24px;
  }
}

@media screen and (max-width: $screen-md) {
  .feedContainer {
    padding-top: 12px;
    align-items: start;
    gap: 12px;
  }
}

@media screen and (max-width: $screen-sm) {
  .feedHeaderContainer {
    margin-top: 20px;
  }

  .feedHeader {
    padding: 0 12px;
  }

  .allLoaded {
    flex-direction: column;
    align-items: stretch;
    padding: 4px 0;
  }
}
</style>
