<script setup lang="ts">
import {ArrowIcon} from "../../../assets";
import type {Option} from "../types";

type OptionsWindowEmits = {
  (e: 'select-option', option: Option): void;
}

type OptionsWindowProps = {
  options: Option[]
};

const emits = defineEmits<OptionsWindowEmits>();
const props = defineProps<OptionsWindowProps>();

const onSelect = (option: Option) => {
  if (isSelectable(option)) {
    emits('select-option', option);
  }
}

const isSelectable = (option: Option): boolean => {
  return option.selectable === undefined? true : option.selectable;
}
</script>

<template>
  <div :class="$style.selectionWindow">
    <ul :class="$style.options">
      <li
          v-for="(option, index) in props.options"
          :key="index"
          :class="[$style.option, {[$style.notSelectable]: !isSelectable(option)}]"
          @click="onSelect(option)"
      >
        <div :class="$style.optionText">{{ option.text }}</div>
        <div :class="$style.optionIcon">
          <ArrowIcon :class="$style.arrowIcon"/>
        </div>
      </li>
    </ul>
  </div>
</template>

<style module lang="scss">
.selectionWindow {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-height: 270px;
  overflow-y: auto;
  font: var(--font-text);
  border-radius: var(--style-radius-5);
  background-color: var(--color-gray-95);
  border: 1px solid var(--color-gray-89);
  z-index: 1;
}

.selectionWindow::-webkit-scrollbar {
  display: none;
}

.options {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  color: var(--color-primary-2);
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  border-bottom: 1px solid var(--color-gray-89);
  cursor: pointer;
}
.option:last-child {
  border: none;
}

.notSelectable {
  color: var(--color-gray-73);

  .arrowIcon {
    display: none;
  }
}

.arrowIcon {
  width: 10px;
  height: 6px;
  transform: rotateZ(90deg);
}
</style>
