<script setup lang="ts">
import {ChangePostRating} from "@/features/change-post-rating";
import {SavePostToFavorites} from "@/features/save-post-to-favorites";
import {SharePost} from "@/features/share-post";

import {PostStatusEnum, type PostPublished,PreviewPostUI,PublishedPostActions} from "@/entities/post";
import {PostsFeed} from "@/entities/posts-feed";
import {TagsList} from "@/entities/tag";
import {ViewerPreview} from "@/entities/user";

type PostsFeedEmits = {
  (e: 'scroll-end'): void;
}

type PostsFeedProps = {
  posts: PostPublished[],
  isLoading: boolean,
  isLastPage: boolean,
  error: string | null,
}

const emits = defineEmits<PostsFeedEmits>();
const props = defineProps<PostsFeedProps>();

const onScrollEnd = async () => {
  emits('scroll-end');
};
</script>

<template>
  <PostsFeed
      :is-loading="props.isLoading"
      :is-last-page="props.isLastPage"
      :error="props.error? props.error : null"
      :posts="props.posts"
      @scroll-end="onScrollEnd"
  >
    <template #post="{ post }">
      <PreviewPostUI :key="post.uuid" :post="post" :show-profile="true" :show-footer="true">
        <template #header="{ profile }">
          <ViewerPreview :profile="profile">
            <template #subTitle="{ class: className }">
              <span :class="className">{{ post.time_ago }}</span>
            </template>
          </ViewerPreview>
        </template>

        <template #tags>
          <TagsList :tags="post.tags" />
        </template>

        <template #footer>
          <PublishedPostActions :post="post">
            <template #left-actions>
              <ChangePostRating v-if="post.status === PostStatusEnum.PUBLISHED" :post="post"/>
            </template>
            <template #right-actions>
              <SavePostToFavorites/>
              <SharePost/>
            </template>
          </PublishedPostActions>
        </template>
      </PreviewPostUI>
    </template>
  </PostsFeed>
</template>

<style module lang="scss">
.feed {
  display: flex;
  justify-items: start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
</style>
