<script setup lang="ts">
const { active } = defineProps<{active: boolean}>()
</script>

<template>
	<div :class="$style.container" :data-active="active">
    <header>
      <slot name="header"/>
    </header>
    <div :class="$style.content">
      <slot name="content"/>
    </div>
    <footer>
      <slot name="footer"/>
    </footer>
	</div>
</template>

<style module lang="scss">
.container {
	display: flex;
	flex-direction: column;
  justify-content: center;
  align-items: start;
	gap: 16px;
  font: var(--font-text);
}

.container[data-active=true] {
	padding: 32px;
	background-color: var(--color-base-bg);
	border-radius: var(--style-radius-10);
}

.container > footer {
  font: var(--font-smaller);
}
</style>