<script setup lang="ts">
import { ShareIcon } from '@/shared/ui/assets';
import { IconTextButtonUI } from '@/shared/ui/components/icon-button-ui';

//TODO connect to api
</script>

<template>
	<IconTextButtonUI>
		<template #left-icon>
			<ShareIcon :class="$style.shareIcon" />
		</template>
	</IconTextButtonUI>
</template>

<style module>
.shareIcon {
	width: 24px;
	height: 24px;
	color: var(--color-gray-53);
}
</style>
