<script setup lang="ts">
const props = defineProps<{ sticky?: boolean }>();
</script>

<template>
	<aside :class="[$style.sidebar, { [$style.sticky]: props.sticky }]">
		<slot />
	</aside>
</template>

<style module lang="scss">
.sidebar {
	display: flex;
	justify-content: start;
	align-items: start;
	flex-direction: column;
	width: 328px;
	gap: 32px;
	height: 100vh;
	overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
	display: none;
}

.sticky {
	position: sticky;
	top: 32px;
}
</style>
