<script setup lang="ts">
import {AttentionIcon} from '@/shared/ui/assets';
import {Icon, IconSizes} from '@/shared/ui/components/icon';
</script>

<template>
	<div :class="$style.container">
		<Icon :size="IconSizes.TWENTY_FOUR">
			<AttentionIcon />
		</Icon>
		<slot />
	</div>
</template>

<style module lang="scss">
.container {
	padding: 16px;
	position: relative;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	text-align: left;
	gap: 8px;
	background-color: var(--color-red-79-50);
	border-radius: var(--style-radius-10);
	font: var(--font-text);
	color: var(--color-gray-22);
}
.container > i {
	color: var(--color-red-70);
}
</style>
