<script setup lang="ts">
import {AuthWidget} from "@/widgets/auth-widget";
import {HeaderWidget} from "@/widgets/header-widget";
import {PageLayout, MobilePageLayout} from '@/widgets/page-layout';
import {PublishPostWidget} from '@/widgets/publish-post-widget';
import {SidebarNavigationMobileWidget} from "@/widgets/sidebar-navigation-mobile-widget";
import {SiteNavigationWidget} from "@/widgets/site-navigation-widget";
import {ViewerPanelWidget} from "@/widgets/viewer-panel-widget";
</script>

<template>
  <PageLayout>
    <template #left-aside>
      <SiteNavigationWidget/>
    </template>

    <template #content>
      <PublishPostWidget/>
    </template>

    <template #right-aside>
      <ViewerPanelWidget/>
      <AuthWidget/>
    </template>
  </PageLayout>

  <MobilePageLayout>
    <template #header>
      <HeaderWidget/>
      <SidebarNavigationMobileWidget/>
    </template>

    <template #content>
      <PublishPostWidget/>
    </template>
  </MobilePageLayout>
</template>
