<script setup lang="ts">
import {PageLayout, MobilePageLayout} from "@/widgets/page-layout";

import AccountVerification from "./AccountVerification.vue";
</script>

<template>
	<PageLayout>
		<template #content>
			<AccountVerification/>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #content>
			<AccountVerification/>
		</template>
	</MobilePageLayout>
</template>
