<script setup lang="ts">
import {onMounted, ref} from "vue";
import {useRouter, useRoute} from "vue-router";

import {Routes} from "@/pages";

import {AccountVerificationForm} from "@/features/registration-form";


import {BlockWindowUI} from "@/shared/ui/components/block-ui";


;

const router = useRouter();
const route = useRoute();
const code = ref<string | null>(null);

onMounted(() => {
  code.value = route.query.code as string | null;
});
</script>

<template>
		<BlockWindowUI>
			<template #header-right>
				<span></span>
			</template>
			<template #header-left>
				<h3 class="font-sub-title-bold">Подтверждение почты</h3>
			</template>
			<template #body>
				<AccountVerificationForm @submit="router.push(Routes.TRENDS)" :code="code"/>
			</template>
		</BlockWindowUI>
</template>
