<script setup lang="ts">
import type {RouteLocationRaw} from 'vue-router';

export type LinkProps = {
	to: RouteLocationRaw;
	changeColor?: boolean;
};

const props = defineProps<LinkProps>();
</script>

<template>
	<router-link
		:to="props.to"
		:class="[
			$style.link,
			{
				[$style.saveColors]: !changeColor
			}
		]"
		:active-class="$style.active"
	>
		<slot></slot>
	</router-link>
</template>

<style module lang="scss">
.link {
	display: flex;
	cursor: pointer;
}

.saveColors {
	color: inherit;
}

.link:hover:not(.saveColors) {
	color: var(--color-primary-1);
}

.active {
	color: var(--color-primary-1);
	cursor: default;
}
</style>