<script setup lang="ts">
import {storeToRefs} from "pinia";
import {ref, watch} from 'vue';

import {LoginForm} from '@/features/login-form';
import {PasswordConfirmForm, PasswordRecoveryDone, PasswordRecoveryForm} from "@/features/password-recovery-form";
import {RegistrationForm, AccountVerificationForm} from '@/features/registration-form';
import {ToggleGlobalThemeFeature} from '@/features/toggle-global-theme';

import {useViewerStore, AuthStatues} from "@/entities/user";

import {BlockWindowUI} from '@/shared/ui/components/block-ui/';
import {EmptyButtonUI} from '@/shared/ui/components/button-ui';


import {AUTH_FORMS} from './types';

const { authStatus } = storeToRefs(useViewerStore());
const currentForm = ref<AUTH_FORMS>(AUTH_FORMS.NONE);

const setCurrentForm = (form: AUTH_FORMS) => {
	currentForm.value = form;
};

const setDefaultForm = () => {
	setCurrentForm(AUTH_FORMS.LOGIN);
};

watch([authStatus], () => {
	if (authStatus.value === AuthStatues.NOT_AUTHORIZED) {
		setDefaultForm();
	} else {
		setCurrentForm(AUTH_FORMS.NONE);
	}
});

if (authStatus.value === AuthStatues.NOT_AUTHORIZED) {
	setDefaultForm();
}
</script>

<template>
	<BlockWindowUI v-if="currentForm === AUTH_FORMS.LOGIN">
		<template #header-left>
			<h3 class="font-sub-title-bold">Войдите в аккаунт</h3>
		</template>
		<template #header-right>
			<slot name="login-header-right">
				<ToggleGlobalThemeFeature />
			</slot>
		</template>
		<template #body>
			<LoginForm @recover-password="setCurrentForm(AUTH_FORMS.PASSWORD_RECOVERY)">
				<template #action-button>
					<EmptyButtonUI @click="setCurrentForm(AUTH_FORMS.REGISTRATION)">
						Зарегистрироваться
					</EmptyButtonUI>
				</template>
			</LoginForm>
		</template>
	</BlockWindowUI>

	<BlockWindowUI v-else-if="currentForm === AUTH_FORMS.REGISTRATION" @close="setDefaultForm">
		<template #header-left>
			<h3 class="font-sub-title-bold">Регистрация</h3>
		</template>
		<template #body>
			<RegistrationForm @submit="setCurrentForm(AUTH_FORMS.ACCOUNT_VERIFICATION_FORM)" />
		</template>
	</BlockWindowUI>

  <BlockWindowUI v-else-if="currentForm === AUTH_FORMS.ACCOUNT_VERIFICATION_FORM" @close="setDefaultForm">
    <template #header-left>
      <h3 class="font-sub-title-bold">Подтверждение почты</h3>
    </template>
    <template #body>
      <AccountVerificationForm @submit="setCurrentForm(AUTH_FORMS.LOGIN)" />
    </template>
  </BlockWindowUI>

	<BlockWindowUI v-else-if="currentForm === AUTH_FORMS.PASSWORD_RECOVERY" @close="setDefaultForm">
		<template #header-left>
			<h3 class="font-sub-title-bold">Восстановление пароля</h3>
		</template>
		<template #body>
			<PasswordRecoveryForm @submit="setCurrentForm(AUTH_FORMS.PASSWORD_CONFIRM)" />
		</template>
	</BlockWindowUI>

	<BlockWindowUI v-else-if="currentForm === AUTH_FORMS.PASSWORD_CONFIRM" @close="setDefaultForm">
		<template #header-left>
			<h3 class="font-sub-title-bold">Восстановление пароля</h3>
		</template>
		<template #body>
			<PasswordConfirmForm
				@submit="setCurrentForm(AUTH_FORMS.PASSWORD_RECOVERY_DONE)"
				@change-email="setCurrentForm(AUTH_FORMS.PASSWORD_RECOVERY)"
			/>
		</template>
	</BlockWindowUI>

	<BlockWindowUI
		v-else-if="currentForm === AUTH_FORMS.PASSWORD_RECOVERY_DONE"
		@close="setDefaultForm"
	>
		<template #header-left>
			<h3 class="font-sub-title-bold">Восстановление пароля</h3>
		</template>
		<template #body>
			<PasswordRecoveryDone>
				<template #action-button>
					<EmptyButtonUI @click="setDefaultForm">Войти</EmptyButtonUI>
				</template>
			</PasswordRecoveryDone>
		</template>
	</BlockWindowUI>
</template>
