<script setup lang="ts">
import { routes } from '@/pages';

import { TextLink } from '@/shared/ui/components/link';

const links = [
	routes.TRENDS,
	routes.NEW,
	routes.TOP,
	routes.DISCUSSED,
	routes.SUBSCRIPTIONS,
	routes.GROUPS,
	routes.TAGS
];
</script>

<template>
	<div :class="$style.container">
		<TextLink
			v-for="(item, index) in links"
			:key="index"
			:class="$style.button"
			:active-class="$style.activeItem"
			:to="item.path"
		>
			<span>{{ item.meta?.title }}</span>
		</TextLink>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-items: start;
	align-items: center;
	gap: 16px;
	width: 100%;
	overflow-x: auto;
	padding: 0 24px;
	box-shadow: 0 1px 3px 0 var(--color-black-0-30);
	color: var(--color-gray-22);
	font: var(--font-sub-title);
}
.container::-webkit-scrollbar {
	display: none;
}

.container a {
	cursor: pointer;
}

.button {
	padding: 16px 4px;
}

.activeItem {
	font-weight: bold;
}

.container .activeItem {
	cursor: default;
}
</style>
