<script setup lang="ts">
import {ref} from "vue";

import type {Tag} from "@/entities/tag";

import {RoundedSelectUI} from "@/shared/ui/components/select-ui";
import type {Option} from "@/shared/ui/components/select-ui";

import {useTagsSearcherStore} from "../model/tags-searcher-store";

type FindTagSelectEmits = {
	(e: 'select', value: Tag): void;
}

const emits = defineEmits<FindTagSelectEmits>();

const tagsSearcher = useTagsSearcherStore();
const options = ref<Option[]>([]);
const error = ref<string | null>(null);

const onEnterEnd = async (tag: string) => {
	if (!tag || tag === '')
		return;

	error.value = null;

	await tagsSearcher.find(tag);

	if (tagsSearcher.error) {
		if (tagsSearcher.error.message) {
			error.value = tagsSearcher.error.message
		} else {
			error.value = 'Что-то пошло не так:(';
		}

		return;
	}

	if (tagsSearcher.foundTags.length) {
		options.value = tagsSearcher.foundTags.map(tag => ({
			text: tag,
			value: tag,
		}));
	} else {
		options.value = [{
			text: 'Не найденно',
			value: null,
			selectable: false,
		}];
	}
}

const onSelect = (value: string | null) => {
	if (value) {
		emits('select', value);
    options.value = [];
	}
}
</script>

<template>
	<RoundedSelectUI
		:class="$style.findTagSelect"
		:loading="tagsSearcher.loading"
		:error="error"
		:options="options"
		@enter-end="onEnterEnd"
		@select="onSelect"
	/>
</template>

<style module lang="scss">
.findTagSelect {
	height: 30px;
}
</style>
