<script setup lang='ts'>
import type { IAvatarProps } from './types';

const { size, round, borderRadius, src } = defineProps<IAvatarProps>();
</script>

<template>
	<div
		:class="[$style.container, {
			[$style[`imgWrapper_${size}`]]: !!size,
			[$style.round]: round,
		}]"
		:style="{
			borderRadius: `${borderRadius}px`
		}"
	>
		<slot name="image">
			<img :width="size" :height="size" :class="$style.img" :src="src" />
		</slot>
	</div>
</template>

<style module lang='scss'>
.container {
	overflow: hidden;
}

.container .img {
	max-width: 100%;
	max-height: 100%;
}

.imgWrapper_128 {
	width: 128px;
	height: 128px;
}

.imgWrapper_64 {
	width: 64px;
	height: 64px;
}

.imgWrapper_32 {
	width: 32px;
	height: 32px;
}

.imgWrapper_16 {
	width: 16px;
	height: 16px;
}

.round {
	border-radius: 50%;
}
</style>
