<script setup lang="ts">
import {onMounted, ref} from "vue";
import {useRouter, useRoute} from "vue-router";

import {Routes} from "@/pages";

import {TagManagement} from "@/features/tag-management";

import {useDraftStore} from "@/entities/post";

import {UniformBlockUI} from "@/shared/ui/components/block-ui";
import {TextButtonUI, EmptyButtonUI, ButtonUI} from "@/shared/ui/components/button-ui";
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {LoaderUI} from "@/shared/ui/components/loaders-ui";


import PostContentController from "./ui/PostContentController.vue";

const router = useRouter();
const {params} = useRoute();
const draftStore = useDraftStore();

const error = ref('');

const onSaveInDraft = async () => {
	await draftStore.save();
};

const onPublish = async () => {
  await onSaveInDraft();

  if (draftStore.post) {
    await router.push({
      name: Routes.POST_PUBLISHED,
      params: {
        slug: draftStore.post.slug
      },
    });
  }
};

const onShowPreview = () => {
//todo
};

onMounted(async() => {
	draftStore.error = null;

	if (!draftStore.corePost && params.slug) {
		await draftStore.load(params.slug as string);
	}
});
</script>

<template>
  <UniformBlockUI :class="$style.container">
    <ErrorUI v-if="error">{{ error }}</ErrorUI>
    <ErrorUI v-if="draftStore.error">{{ draftStore.error.message }}</ErrorUI>

    <LoaderUI v-else-if="draftStore.isLoading">Загружаем черновик..</LoaderUI>

    <header :class="$style.titleContainer">
      <input placeholder="Заголовок" v-model="draftStore.corePost.title"/>
    </header>

    <PostContentController :content="draftStore.corePost.content" @change="content => draftStore.corePost.content = [...content]"/>
    <TagManagement v-model="draftStore.corePost.tags"/>
  </UniformBlockUI>

  <!--TODO-->
  <!--	<UniformBlockUI>-->
  <!--		<PostEditorOptions />-->
  <!--	</UniformBlockUI>-->

  <UniformBlockUI :class="$style.footer">
    <ButtonUI @click="onPublish" :is-loading="draftStore.isLoading">Опубликовать</ButtonUI>
    <EmptyButtonUI @click="onShowPreview" :is-loading="draftStore.isLoading">Предпросмотр</EmptyButtonUI>
    <TextButtonUI @click="onSaveInDraft" :is-loading="draftStore.isLoading">В черновик</TextButtonUI>
  </UniformBlockUI>
</template>

<style module>
.titleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-95);
  width: 100%;
}

.titleContainer > input {
  display: block;
  width: 100%;
  font: var(--font-text);
  color: var(--color-gray-53);
  background-color: var(--color-gray-95);
  border: unset;
  outline: none;
}

.titleContainer > input::placeholder {
  font: var(--font-text);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
}
.footer * {
  width: 30%;
}

@media screen and (max-width: $screen-sm) {
  .footer {
    flex-wrap: wrap;
  }
}
</style>
