<script setup lang="ts">
import {Routes} from '@/pages';

import { UserIcon } from '@/shared/ui/assets';



export type UserPreviewProps = {
	avatar: string;
	username: string;
	isCurrentUser?: boolean;
};

const { isCurrentUser } = defineProps<UserPreviewProps>();
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.main">
			<router-link :to="{ name: Routes.NOT_FOUND }" :class="$style.linkToProfile">
				<img :class="$style.avatar" :src="avatar" alt="Аватар" v-if="avatar" />
				<i :class="$style.avatar" v-else>
					<UserIcon />
				</i>
			</router-link>

			<div :class="$style.username">{{ username }}</div>
			<slot name="role" />
			<div v-if="isCurrentUser" :class="$style.isCurrentUser">Вы</div>
			<div :class="$style.time">
				<slot name="time" />
			</div>
		</div>

		<div>
			<slot name="actions" />
		</div>
	</div>
</template>

<style lang="scss" module>
.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font: var(--font-smaller);
}

.main {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

.linkToProfile {
	display: block;
	height: 24px;
	width: 24px;
}

.avatar {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.username {
	font: var(--font-text-bold);
}

.isCurrentUser {
	padding: 0 5px;
	border: 1px solid var(--color-primary-1);
	border-radius: 9px;
	color: var(--color-primary-1);
	font: var(--font-smaller);
}

.time {
	color: var(--color-gray-53);
}
</style>
