<script setup lang="ts">
import { Routes } from '@/pages';

import { UserIcon } from '@/shared/ui/assets';
import {ErrorUI} from "@/shared/ui/components/error-ui";

import type { ShortUserProfile } from '../model/types';
export type ViewerPreviewProps = {
	profile: ShortUserProfile | null;
};

const { profile } = defineProps<ViewerPreviewProps>();
</script>

<template>
	<div :class="[$style.container, $slots.subTitle && $style.containerWithSubTitle]" v-if="profile">
		<div :class="[$style.avatarWrapper, $slots.subTitle && $style.avatarWrapperWithSubTitle]">
			<router-link :to="{ name: Routes.PROFILE, params: { username: profile.username } }" :class="$style.linkToProfile">
				<img :class="$style.avatar" :src="profile.avatar" alt="Аватар" v-if="profile.avatar" />
				<i :class="$style.avatar" v-else>
          <UserIcon/>
				</i>
			</router-link>
		</div>

		<div :class="[$style.profileInfo, $slots.subTitle && $style.profileInfoWithSubTitle]">
			<slot name="nickname" :class="$style.nickname">
				<router-link :to="{ name: Routes.PROFILE, params: { username: profile.username } }">
					<span :class="$style.nickname">{{ profile.username }}</span>
				</router-link>
			</slot>

			<div v-if="$slots.subTitle" :class="$style.subTitleWrapper">
				<slot name="subTitle" :class="$style.subTitle"> </slot>
			</div>
		</div>

		<div :class="$style.action">
			<slot name="action"></slot>
		</div>
	</div>
  <div v-else :class="$style.container">
    <ErrorUI>Отсутсвует профиль!</ErrorUI>
  </div>
</template>

<style lang="scss" module>
.container {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 48px;
	width: 100%;
	gap: 8px;

	&WithSubTitle {
		gap: 16px;
		height: 44px;
	}
}
.profileInfo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	align-items: start;
	height: 100%;

	&WithSubTitle {
		justify-content: space-between;
	}
}

.linkToProfile {
	display: block;
	width: 100%;
	height: 100%;
}
.avatar {
	display: block;
	height: 100%;
	width: 100%;
	object-fit: contain;
	border-radius: 100%;

	&Wrapper {
		display: flex;
		justify-content: center;
		align-items: center;

		height: 48px;
		width: 48px;

		&WithSubTitle {
			height: 36px;
			width: 36px;
		}
	}
}

.nickname {
	font: var(--font-text-bold);
	color: var(--color-gray-22);
}

.subTitle {
	font: var(--font-small);
	color: var(--color-gray-53);

	&Wrapper {
		max-width: 100%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

.action {
	display: flex;
	margin-left: auto;
}
</style>
