<script setup lang='ts'>
import {storeToRefs} from "pinia";
import {watch} from "vue";
import {useRouter} from "vue-router";

import {Routes} from "@/pages";

import {PreviewPostUI, useDraftStore, type PostDraft} from '@/entities/post';
import {PostsFeed, createUserFeedFetcher, useDraftFeed, type Fetcher} from "@/entities/posts-feed";
import {TagsList} from '@/entities/tag';
import {useViewerStore, AuthStatues} from "@/entities/user";


import {ElongatedBlockUI} from '@/shared/ui/components/block-ui';
import {ButtonUI, EmptyButtonUI} from '@/shared/ui/components/button-ui';
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";


import PostDraftHeader from "./PostDraftHeader.vue";

const router = useRouter();
const {authStatus, isLoading, profile} = storeToRefs(useViewerStore());
const draft = useDraftStore();
const feed = useDraftFeed();
let fetcher: Fetcher;

const setFetcher = (username: string) => {
	fetcher = createUserFeedFetcher(username);
}

const reload = (username: string) => {
	setFetcher(username);
	feed.reload(fetcher);
};

const onEditPost = (post: PostDraft) => {
  draft.setPost(post);
  router.push({ name: Routes.POST_EDITOR, params: { slug: post.slug } });
};

watch(authStatus, (authStatus) => {
	if (authStatus === AuthStatues.NOT_AUTHORIZED) {
		router.push({ name: Routes.TRENDS });
	}
});

if (profile.value) {
	reload(profile.value.username);
} else {
	watch(profile, (profile) => {
		if (profile) {
			reload(profile.username);
		}
	});
}
</script>

<template>
  <FilledLoaderUI :class="$style.loader" v-if="feed.isLoading || isLoading">Загружаем черновики..</FilledLoaderUI>

  <template v-else>
    <PostDraftHeader :count="feed.posts.length"/>
    <PostsFeed
        :is-loading="feed.isLoading"
        :is-last-page="feed.isLastPage"
        :error="feed.error? feed.error.message : null"
        :posts="feed.posts"
        :class="$style.container"
    >
      <template #post="{post}">
        <div :class="$style.post">
          <ElongatedBlockUI customPaddings>
            <div :class="$style.block">
              <PreviewPostUI
                  :post="post"
                  :show-footer="false"
                  :show-profile="false"
              >
                <template #tags>
                  <TagsList :tags="post.tags"/>
                </template>
              </PreviewPostUI>
            </div>

            <div :class="[$style.block, $style.actions]">
              <router-link :to="{ name: Routes.POST_PUBLISHED, params: { slug: post.slug } }">
                <ButtonUI stretched>Опубликовать</ButtonUI>
              </router-link>

              <ButtonUI stretched @click="onEditPost(post)">Редактировать</ButtonUI>

              <EmptyButtonUI>Удалить</EmptyButtonUI>
            </div>
          </ElongatedBlockUI>
        </div>
      </template>
    </PostsFeed>
  </template>
</template>

<style module lang='scss'>
.loader {
  margin-top: 32px;
}

.container {
  margin-bottom: 32px;
}

.post {
  margin-bottom: 20px;
}

.block {
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
  padding: 0 32px 32px 32px;
}

.actions > * {
  width: 30%;
}

.columns {
  width: 100%;
}

@media screen and (max-width: $screen-xs) {
  .block {
    padding-bottom: 20px;
  }

  .actions {
    padding: 20px 12px;
  }
}
</style>
