<script setup lang='ts'>
import {Routes} from "@/pages";

import {ElongatedBlockUI, TwoColumnsBlock} from '@/shared/ui/components/block-ui';
import {ButtonUI} from '@/shared/ui/components/button-ui';

const { count } = defineProps<{ count: number }>()
</script>

<template>
	<ElongatedBlockUI customPaddings :class="$style.block">
		<div :class="$style.container">
			<div :class="$style.columns">
				<TwoColumnsBlock withCustomLayout>
					<template #left-column>
						<p :class="$style.text">Сохранено черновиков: <span :class="$style.textBold">{{ count }}/5</span></p>
					</template>

					<template #right-column>
						<router-link :to="{ name: Routes.POST_EDITOR }">
							<ButtonUI stretched>Создать пост</ButtonUI>
						</router-link>
					</template>
				</TwoColumnsBlock>
			</div>
		</div>
	</ElongatedBlockUI>
</template>

<style module lang='scss'>
.container {
	width: 100%;
	padding: 32px;
}

.columns {
	width: 100%;
}

.text {
	font: var(--font-sub-title);
}

.textBold {
	font: var(--font-sub-title-bold);
}

@media screen and (max-width: $screen-xs) {
	.container {
		padding: 20px 12px;
		border-radius: 0;
	}

	.block {
		margin-bottom: 20px;
	}
}
</style>
