<script setup lang="ts" generic="Post">
import {InfinityScroll} from '@/shared/lib/infinity-scroll';
import {ElongatedBlockUI} from "@/shared/ui/components/block-ui";
import {ErrorUI} from '@/shared/ui/components/error-ui';
import {FilledLoaderUI} from '@/shared/ui/components/loaders-ui';

type PostsFeedProps = {
	posts: Post[],
	isLoading: boolean,
	isLastPage: boolean,
	error: string | null,
}
type PostsFeedEmits = {
	(e: 'scroll-end'): void;
}

const props = defineProps<PostsFeedProps>();
const emits = defineEmits<PostsFeedEmits>();
</script>

<template>
	<FilledLoaderUI v-if="props.isLoading" :class="$style.loader">
		<span>Секундочку, подгружаем посты</span>
	</FilledLoaderUI>

	<ErrorUI v-else-if="props.error">
		{{ props.error }}
	</ErrorUI>

	<div v-else-if="props.isLastPage">
		<slot name="all-loaded">
			<ElongatedBlockUI class="font-text" >
				Все посты просмотрены!
			</ElongatedBlockUI>
		</slot>
	</div>

	<InfinityScroll @scroll-end="emits('scroll-end')" :list="props.posts">
		<template #item="{ item }">
			<slot name="post" :post="item"/>
		</template>
	</InfinityScroll>
</template>

<style module lang="scss">
.container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	gap: 32px;
}

.loader {
	margin-bottom: 32px;
}

@media screen and (max-width: $screen-md) {
	.container {
		gap: 10px;
	}
	.info {
		border-radius: unset;
	}
}
</style>
