<script setup lang="ts" generic="T">
import {useIntersectionObserver} from '@vueuse/core';
import {ref, onMounted, watch, onUpdated} from 'vue';

import {useViewBlocks} from '@/shared/lib/infinity-scroll';

import type {InfinityScrollEmits, InfinityScrollProps} from './types';

//todo scrollbar twitching
//todo does not load when ctrl end, ctrl home

const props = defineProps<InfinityScrollProps<T>>();
const emits = defineEmits<InfinityScrollEmits>();

const scrollEnd = ref<HTMLDivElement | null>(null);
const showScrollEnd = ref(false);
const viewBlocks = useViewBlocks(props.list);

onMounted(() => {
	useIntersectionObserver(scrollEnd, async ([{ isIntersecting }]) => {
		if (isIntersecting) {
			emits('scroll-end');
		}
	});

	useIntersectionObserver(viewBlocks.topBlock, ([{ isIntersecting }]) => {
		if (isIntersecting) {
			viewBlocks.moveUp();
		}
	});

	useIntersectionObserver(viewBlocks.bottomBlock, ([{ isIntersecting }]) => {
		if (isIntersecting) {
			viewBlocks.moveDown();
		}
	});
});

watch(() => props.list, (newList) => {
		viewBlocks.setup(newList);
});

onMounted(() => {
	showScrollEnd.value = false;
});
onUpdated(() => {
	showScrollEnd.value = viewBlocks.blocks.value.length > 0;
});
</script>

<template>
	<div :class="$style.container">
		<div v-for="(block, index) in viewBlocks.blocks.value" :key="index">
			<div v-if="viewBlocks.isTopBlock(index)" :ref="viewBlocks.topBlock" :class="$style.list">
				<slot name="item" v-for="(item, index) in block" :key="index" :item="item" />
			</div>

			<div
				v-else-if="viewBlocks.isTopViewBlock(index)"
				:ref="viewBlocks.topViewBlock"
				:class="$style.list"
			>
				<slot name="item" v-for="(item, index) in block" :key="index" :item="item" />
			</div>

			<div
				v-else-if="viewBlocks.isBottomViewBlock(index)"
				:ref="viewBlocks.bottomViewBlock"
				:class="$style.list"
			>
				<slot name="item" v-for="(item, index) in block" :key="index" :item="item" />
			</div>

			<div
				v-else-if="viewBlocks.isBottomBlock(index)"
				:ref="viewBlocks.bottomBlock"
				:class="$style.list"
			>
				<slot name="item" v-for="(item, index) in block" :key="index" :item="item" />
			</div>
		</div>

		<div :class="$style.scrollEnd" ref="scrollEnd" v-if="showScrollEnd" />
	</div>
</template>

<style module>
.container,
.list {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	gap: 32px;
}
</style>
