<script setup lang="ts">
import { Error403Light, Error403Dark, Capybara403 } from '@/shared/ui/assets';
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.images">
			<Error403Light :class="[$style.errorCode, $style.lightCode]" />
			<Error403Dark :class="[$style.errorCode, $style.darkCode]" />
			<img :class="$style.capybara" :src="Capybara403"  alt="403"/>
		</div>
		<h3>Доступ к странице запрещён</h3>
		<a href="/">Перейти на главную</a>
	</div>
</template>

<style lang="scss" module>
.container {
	max-width: 100vw;
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	width: 535px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 100vh;
	max-height: 100vh;
	gap: 16px;

	@media screen and (max-width: 600px) {
		width: 315px;
	}

	@media screen and (max-width: 310px) {
		display: none;
	}
}

.images {
	height: 380px;
	position: relative;
	width: 512px;
	@media screen and (max-width: 600px) {
		width: 296px;
		height: 218px;
	}
}

.lightCode, .darkCode {
  display: none;
}

[data-color-schema="dark"] .lightCode,
[data-color-schema="light"] .darkCode,
[data-color-schema="auto"] .lightCode {
  display: block;
}

.errorCode {
	z-index: 0;
	width: 515px;
	height: 242px;

	@media screen and (max-width: 600px) {
		width: 296px;
		height: 139.09px;
	}
}

.capybara {
	z-index: 1;
	position: absolute;
	left: 100px;
	bottom: 0;

	width: 306px;
	height: 229px;

	@media screen and (max-width: 600px) {
		left: 58px;
		height: 131px;
		width: 176px;
	}
}

h3 {
	font: var(--font-title);
	font-size: 28px;
	color: var(--color-gray-22);

	@media screen and (max-width: 600px) {
		font-size: 17px;
	}
}

a {
	width: 190px;
	background-color: var(--color-primary-1);
	font: var(--font-text-bold);
	padding: 10px;
	border-radius: 24px;
	color: #fbfbfb;
	font-size: 14px;
	text-align: center;

	@media screen and (max-width: 600px) {
		font-size: 14px;
	}
}
</style>
