<script setup lang="ts">
import { Capybara404, Error404Dark, Error404Light } from '@/shared/ui/assets';
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.images">
			<Error404Light :class="[$style.errorCode, $style.lightCode]" />
			<Error404Dark :class="[$style.errorCode, $style.darkCode]" />
			<img :class="$style.capybara" :src="Capybara404"  alt="404"/>
		</div>
		<h3>Страница не найдена</h3>
		<a href="/">Перейти на главную</a>
	</div>
</template>

<style lang="scss" module>
.container {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	width: 532px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 16px;

	@media screen and (max-width: 600px) {
		width: 315px;
	}

	@media screen and (max-width: 310px) {
		display: none;
	}
}

.images {
	height: 386px;
	position: relative;
	width: 512px;


	@media screen and (max-width: 600px) {
		height: 222px;
		width: 295px;
	}
}

.lightCode, .darkCode {
  display: none;
}

[data-color-schema="dark"] .lightCode,
[data-color-schema="light"] .darkCode,
[data-color-schema="auto"] .lightCode {
  display: block;
}

.errorCode {
	z-index: 0;

	width: 512px;
	height: 223px;

	@media screen and (max-width: 600px) {
		height: 129px;

		width: 295px;
	}
}

.capybara {
	z-index: 1;
	position: absolute;
	left: 0;
	bottom: 0;

	width: 512px;
	height: 274px;

	@media screen and (max-width: 600px) {
		height: 158px;
		width: 295px;
	}
}

h3 {
	font: var(--font-title);
	font-size: 28px;
	color: var(--color-gray-22);

	@media screen and (max-width: 600px) {
		font-size: 17px;
	}
}

a {
	width: 190px;
	background-color: var(--color-primary-1);
	font: var(--font-text-bold);
	padding: 10px;
	border-radius: 24px;
	color: #fbfbfb;
	font-size: 14px;
	text-align: center;

	@media screen and (max-width: 600px) {
		font-size: 14px;
	}
}
</style>
