<script setup lang="ts">
import { Capybara500, Error500Dark, Error500Light } from '@/shared/ui/assets';
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.images">
			<Error500Light :class="[$style.errorCode, $style.lightCode]" />
			<Error500Dark :class="[$style.errorCode, $style.darkCode]" />
			<img :class="$style.capybara" :src="Capybara500"  alt="500"/>
		</div>
		<h3>Что-то пошло не так. Скоро мы всё починим</h3>
		<a href="/">Перейти на главную</a>
	</div>
</template>

<style lang="scss" module>
.container {
	display: flex;
	flex-direction: column;
	padding: 0px 10px;
	width: 610px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	height: 100vh;
	gap: 16px;

	@media screen and (max-width: 600px) {
		width: 315px;
	}

	@media screen and (max-width: 310px) {
		display: none;
	}
}

.images {
	height: 360px;
	position: relative;

	@media screen and (max-width: 600px) {
		height: 216px;
	}
}

.lightCode, .darkCode {
  display: none;
}

[data-color-schema="dark"] .lightCode,
[data-color-schema="light"] .darkCode,
[data-color-schema="auto"] .lightCode {
  display: block;
}

.errorCode {
	z-index: 0;
	width: 492px;
	height: 236px;

	@media screen and (max-width: 600px) {
		height: 141px;
		width: 295px;
	}
}

.capybara {
	z-index: 1;
	position: absolute;
	left: 159px;
	bottom: 0;
	width: 277px;
	height: 254px;

	@media screen and (max-width: 600px) {
		height: 152px;
		left: 64px;

		width: 166px;
		height: 152px;
	}
}

h3 {
	font: var(--font-title);
	font-size: 28px;
	color: var(--color-gray-22);

	@media screen and (max-width: 600px) {
		font-size: 17px;
		text-align: center;
	}
}

a {
	width: 190px;
	background-color: var(--color-primary-1);
	font: var(--font-text-bold);
	padding: 10px;
	border-radius: 24px;
	color: #fbfbfb;
	font-size: 14px;
	text-align: center;

	@media screen and (max-width: 600px) {
		font-size: 14px;
	}
}
</style>
