<script setup lang="ts">
import { SaveIcon } from '@/shared/ui/assets';
import { IconTextButtonUI } from '@/shared/ui/components/icon-button-ui';
</script>

<template>
	<IconTextButtonUI>
		<template #left-icon>
			<SaveIcon :class="$style.saveIcon" />
		</template>
	</IconTextButtonUI>
</template>

<style module>
.saveIcon {
	width: 24px;
	height: 24px;
	color: var(--color-gray-53);
}
</style>
