<script setup lang='ts'>
import { storeToRefs } from 'pinia';
import { watch, ref } from 'vue';
import { useRoute } from 'vue-router';

import { BlockUser } from '@/features/block-user';
import { Notification } from '@/features/notifications';
import { Subscribe } from '@/features/subscribe';
import { Verification } from '@/features/verify-user';

import { ProfileHeader, ProfileStats } from '@/entities/profile';
import { useUserStore, useViewerStore } from '@/entities/user';

import { MegaphoneIcon, Blocked } from '@/shared/ui/assets';
import { ElongatedBlockUI } from '@/shared/ui/components/block-ui';
import { ButtonUI, EmptyButtonUI } from '@/shared/ui/components/button-ui';
import { Divider } from '@/shared/ui/components/divider';
import { Icon, IconSizes } from '@/shared/ui/components/icon';
import { OnlyIconEmptyButtonUI } from '@/shared/ui/components/icon-button-ui';
import { BlockSuspenseUI } from '@/shared/ui/components/loaders-ui';

const { params } = useRoute();
const username = params.username as string;
const isMe = ref(false);

const userStore = useUserStore();
const viewerStore = useViewerStore();

const { loadUser } = userStore;
const { profile, isLoading, error } = storeToRefs(userStore);
const {
	profile: viewerProfile,
	isLoading: isViewerLoading,
} = storeToRefs(viewerStore);

watch([profile, viewerProfile], () => {
	isMe.value = profile &&
		viewerProfile &&
		!isLoading.value &&
		!isViewerLoading.value &&
		profile.value?.username === viewerProfile.value?.username;
})

watch(error, () => {
	if (error || !username) {
		// push(Routes.NOT_FOUND);
	}
});

void loadUser(username);

const date = new Date(Date.parse('01 aug 2023'));
const status = 'Краду сладкие рулеты…';
</script>

<template>
	<ElongatedBlockUI :customPaddings="true">
		<div :class="$style.header">
			<BlockSuspenseUI
				:loading="isLoading"
				:error="profile === null ? (error && (error.message || 'Что-то пошло не так:(')) : null"
			>
				<ProfileHeader
					:registration="date"
					:name="profile?.username || 'kapibarin'"
					:status="status"
					:avatar="profile?.avatar || '/assets/icons/ShortLogoIcon.svg'"
				>
					<Verification :class="[$style.button, $style.verifyButton]" v-show="isMe">
						<template #sub-off>
							<ButtonUI stretched>Подтвердить через Telegram</ButtonUI>
						</template>
						<template #sub-on>
							<span>Подтверждено!</span>
						</template>
					</Verification>
					<Subscribe :class="$style.button" v-show="!isMe">
						<template #sub-off>
							<ButtonUI stretched>Подписаться</ButtonUI>
						</template>
						<template #sub-on>
							<EmptyButtonUI stretched>Отписаться</EmptyButtonUI>
						</template>
					</Subscribe>
					<Notification v-show="!isMe">
						<OnlyIconEmptyButtonUI :borderless="true" :size="36">
							<Icon :size="IconSizes.SIXTEEN">
								<MegaphoneIcon />
							</Icon>
						</OnlyIconEmptyButtonUI>
					</Notification>
					<BlockUser v-show="!isMe">
						<OnlyIconEmptyButtonUI :borderless="true" :size="36">
							<Icon :size="IconSizes.SIXTEEN">
								<Blocked />
							</Icon>
						</OnlyIconEmptyButtonUI>
					</BlockUser>
				</ProfileHeader>
			</BlockSuspenseUI>
		</div>
		<Divider />
		<div :class="$style.stats">
			<BlockSuspenseUI
				:loading="isLoading"
				:error="!profile ? (error && (error.message || 'Что-то пошло не так:(')) : null"
			>
				<ProfileStats
					:rating="profile?.rating"
					:comments="profile?.comments_count"
					:pluses="profile?.votes_up_count"
					:minuses="profile?.votes_down_count"
				/>
			</BlockSuspenseUI>
		</div>
	</ElongatedBlockUI>
</template>

<style module lang='scss'>
.header {
	padding: 32px;
	width: 100%;
}

.stats {
	overflow: hidden;
	max-width: 100%;
	padding: 30px;
}

.button {
	flex-basis: 250px;
}

.verifyButton {
	flex-basis: 280px;
}

@media screen and (max-width: $screen-lg) {
	.stats {
		padding: 16px 8px;
	}
}

@media screen and (max-width: $screen-md) {
	.stats {
		padding: 16px;
	}
}

@media screen and (max-width: $screen-sm) {
	.header {
		padding: 20px 12px;
	}

	.stats {
		padding: 16px 0;
	}

	.button {
		flex-grow: 1;
	}
}
</style>
