<script setup lang="ts">
import {ref} from 'vue';

import {TrashIcon} from '@/shared/ui/assets';
import {IconTextButtonUI} from '@/shared/ui/components/icon-button-ui';
import type {TextAreaProps, TextAreaValue, TextAreaEmits} from '@/shared/ui/components/input-ui';

const emit = defineEmits<TextAreaEmits>();
const { modelValue } = defineProps<TextAreaProps>();
const textAreaValue = ref<TextAreaValue>(modelValue || undefined);

const onInput = (e: Event) => {
	const field = e.target as HTMLDivElement;

	if (field) {
		field.style.height = 'auto';
		field.style.height = `${field.scrollHeight}px`;
	}
};

const onChange = (value: TextAreaValue) => {
	textAreaValue.value = value;
	emit('update:modelValue', value ? value.toString() : null); //TODO
};

const onRemove = () => {
	textAreaValue.value = '';
	emit('update:modelValue', textAreaValue.value);
	emit('removeValue');
};
</script>

<template>
	<div :class="[$style.container, 'color-gray-53', 'font-smaller']">
		<textarea v-model="textAreaValue" @input="onInput" @change="onChange(textAreaValue)" />
		<IconTextButtonUI :class="$style.clearBtn" @click="onRemove">
			<template #left-icon>
				<TrashIcon :class="$style.trashIcon" />
			</template>
		</IconTextButtonUI>
	</div>
</template>

<style module>
.container {
	position: relative;
	padding: 8px;
	display: flex;
	justify-content: stretch;
	align-items: start;
	border-radius: var(--style-radius-5);
	background-color: var(--color-gray-98);
	gap: 10px;
}

.container textarea {
	box-sizing: border-box;
	font: var(--font-text);
	color: var(--color-gray-53);
	border: unset;
	background-color: var(--color-gray-98);
	outline: unset;
	overflow-y: hidden;
	resize: none;
	width: 100%;
	height: 100%;
}

.clearBtn {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 32px;
	height: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--style-radius-10);
	background-color: var(--color-gray-89);
  color: var(--color-primary-1);
	opacity: 0.6;
	z-index: 1;
}
.clearBtn:hover {
	opacity: 1;
}

.trashIcon {
	width: 16px;
	height: 16px;
}
</style>
