<script setup lang="ts">
const opened = defineProps<boolean>();
const emits = defineEmits(['close']);
</script>

<template>
	<aside v-outside-click="emits('close')" v-if="opened">
		<slot></slot>
	</aside>
</template>

<style module lang="scss">
.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	width: 256px;
	height: 100vh;
	overflow-y: scroll;
	background: var(--color-gray-89);
	z-index: 2;
}
</style>
