<script setup lang="ts">
import {AuthWidget} from "@/widgets/auth-widget";
import {HeaderWidget} from "@/widgets/header-widget";
import {PageLayout, MobilePageLayout} from '@/widgets/page-layout';
import {PostEditorWidget} from '@/widgets/post-editor';
import {SidebarNavigationMobileWidget} from "@/widgets/sidebar-navigation-mobile-widget";
import {SiteNavigationWidget} from "@/widgets/site-navigation-widget";
import {ViewerPanelWidget} from "@/widgets/viewer-panel-widget";
</script>

<template>
	<PageLayout>
		<template #left-aside>
			<SiteNavigationWidget/>
		</template>

		<template #content>
			<PostEditorWidget />
		</template>

		<template #right-aside>
			<ViewerPanelWidget/>
			<AuthWidget/>
		</template>
	</PageLayout>

	<MobilePageLayout>
		<template #header>
			<HeaderWidget/>
			<SidebarNavigationMobileWidget/>
		</template>

		<template #content>
			<PostEditorWidget />
		</template>
	</MobilePageLayout>
</template>

<style module lang="scss">
.homeDesktopPage,
.homeMobilePage {
	display: none;
}

@media screen and (min-width: $screen-xs) and (max-width: $screen-xl) {
	.homeMobilePage {
		display: flex;
	}
}

@media screen and (min-width: $screen-xl) {
	.homeDesktopPage {
		display: flex;
	}
}
</style>
