<script setup lang="ts">
import {useWindowSize} from "@vueuse/core";

import {CentralColumn, StickyPanelUI} from '@/shared/ui/components/block-ui';
import {MobilePageUI} from '@/shared/ui/components/page-ui';

const { width } = useWindowSize();
const widthXl = 1280;
const widthSM = 430;
</script>

<template>
	<MobilePageUI v-if="width < widthXl">
		<StickyPanelUI>
			<slot name="header"/>
		</StickyPanelUI>

		<CentralColumn v-if="width > widthSM">
			<slot name="content"></slot>
			<slot name="content-table"></slot>
		</CentralColumn>

		<CentralColumn v-else>
			<slot name="content"></slot>
			<slot name="content-mobile"></slot>
		</CentralColumn>
	</MobilePageUI>
</template>

<style module lang="scss">
.desktopRightColumn {
	padding-bottom: 64px;
}
</style>
