<script setup lang="ts">
import {useWindowSize} from "@vueuse/core";

import {DesktopAsideColumnUI, DesktopCentralColumnUI} from '@/shared/ui/components/block-ui';
import {DesktopPageUI} from '@/shared/ui/components/page-ui';

const { width } = useWindowSize();
const widthXl = 1280;
</script>

<template>
	<DesktopPageUI v-if="width >= widthXl">
		<DesktopAsideColumnUI sticky>
			<slot name="left-aside"/>
		</DesktopAsideColumnUI>

		<DesktopCentralColumnUI>
			<slot name="content"/>
			<slot name="content-desktop"/>
		</DesktopCentralColumnUI>

		<DesktopAsideColumnUI sticky :class="$style.desktopRightColumn">
			<slot name="right-aside"/>
		</DesktopAsideColumnUI>
	</DesktopPageUI>
</template>

<style module lang="scss">
.desktopRightColumn {
	padding-bottom: 64px;
}
</style>
