<script setup lang="ts">
import {watch, reactive} from "vue";

import type {Tag} from "@/entities/tag";

import {CloseIcon} from '@/shared/ui/assets';
import {IconSizes,Icon} from "@/shared/ui/components/icon";
import {IconButtonUI} from '@/shared/ui/components/icon-button-ui';

import FindTagSelect from "./ui/FindTagSelect.vue";

type TagManagementEmits = {
  (e: 'update:modelValue', tags: Tag[]): void;
}
type TagManagementProps = {
  modelValue: Tag[],
}

const emits = defineEmits<TagManagementEmits>();
const props = defineProps<TagManagementProps>();

const tags = reactive<Tag[]>(props.modelValue || []);

const addTag = (tag: Tag) => {
  if (tag === '')
    return;

  if (tags.includes(tag))
    return;

  tags.push(tag);
};

const removeTag = (existTag: Tag) => {
	//TODO Vue - is shit
	const filteredTags = tags.filter(tag => tag !== existTag);
	tags.length = 0;
  tags.push(...filteredTags);
}

watch(tags, (tags) => {
	emits('update:modelValue', tags);
});
</script>

<template>
  <section :class="$style.tagSection">
    <span class="font-text color-gray-22"> Добавьте к посту до 10 тегов </span>

    <div :class="$style.tagList">
			<FindTagSelect @select="addTag" v-if="tags.length < 10"/>

      <IconButtonUI v-for="(tag, index) in tags" :key="index" @click="removeTag(tag)" rounded>
        <template #left-icon>
          <Icon :size="IconSizes.EIGHT">
            <CloseIcon/>
          </Icon>
        </template>
        <template #text>{{ tag }}</template>
      </IconButtonUI>
    </div>
  </section>
</template>

<style module lang="scss">
.tagSection {
  padding: 12px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  gap: 8px;
  font: var(--font-small);
}

.tagList {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.tagInputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tagInput {
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--color-gray-53);
  overflow: hidden;
}

.tagInput::placeholder {
  color: var(--color-gray-53);
}

.smallIcon {
  width: 8px;
  height: 8px;
}
</style>
