<script setup lang="ts">
import {ref, watch} from 'vue';

import { useAuthStore } from '@/entities/user';

import { useForm } from "@/shared/lib/use-form";
import { emailValidator, requiredValidator } from '@/shared/lib/validators';
import { ButtonUI } from '@/shared/ui/components/button-ui';
import { ErrorUI } from '@/shared/ui/components/error-ui';
import { InputUI } from '@/shared/ui/components/input-ui';

import type { PasswordRecoveryFormEmits } from '../types';

const emits = defineEmits<PasswordRecoveryFormEmits>();
const auth = useAuthStore();

const form = useForm({
	email: {
		value: null,
		validators: [emailValidator(), requiredValidator()]
	},
});

const unhandledAPIErrors = ref<string[]>([]);
const apiHasErrors = ref<boolean>(false);

watch(unhandledAPIErrors, (value) => (apiHasErrors.value = value.length > 0));

//TODO almost duplicate with LoginForm
const resetPassword = async () => {
	const {email} = form.fields;

	unhandledAPIErrors.value = [];
	form.validateAll();

	if (form.hasErrors.value) {
		return;
	}

	await auth.resetPassword(email);

	//Errors router
	if (auth.error) {
		const error = auth.error;

		if (error.message) {
			unhandledAPIErrors.value = [error.message];
		} else {
			unhandledAPIErrors.value = ['Что-то пошло не так:('];
		}
	} else {
		auth.setPassport(email, null);
		emits('submit');
	}
};
</script>

<template>
	<div :class="$style.container">
		<ErrorUI v-for="(error, index) in unhandledAPIErrors" :key="index">
			<span>{{ error }}</span>
		</ErrorUI>

		<InputUI
			label="Введите электронную почту:"
			placeholder="kapibarin@mail.com"
			v-model="form.fields.email"
			:errors="form.errors.email"
			:is-error="apiHasErrors"
		/>
		<ButtonUI @click="resetPassword" :disabled="form.hasErrors.value" :is-loading="auth.isLoading">Восстановить</ButtonUI>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 32px;
	width: 100%;
}
.container > button {
	width: 100%;
}
</style>
