<script setup lang='ts'>
import type { IProfileStatsItem } from './types';

const { value, title } = defineProps<IProfileStatsItem>();
</script>

<template>
<div :class="$style.container">
	<span :class="$style.value">{{ value }}</span>
	<span :class="$style.title">{{ title }}</span>
</div>
</template>

<style module lang='scss'>
.container {
	display: flex;
	min-width: 120px;
	min-height: 56px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 4px;
	color: var(--color-gray-22);
}

.value {
	font: var(--font-text-bold);
}

.title {
	font: var(--font-small);
}

@media screen and (max-width: $screen-lg) {
	.container {
		min-width: 92px;
		min-height: 48px;
	}
}

@media screen and (max-width: $screen-md) {
	.container {
		min-width: 88px;
		min-height: 48px;
	}
}

@media screen and (max-width: $screen-sm) {
	.container {
		min-width: 92px;
		min-height: 48px;
	}
}
</style>
