<script setup lang="ts">
import {onMounted} from "vue";
import {useRoute, useRouter} from "vue-router";

import {Routes} from "@/pages";

import {useDraftStore, publishPost} from "@/entities/post";
import {useViewerStore, AuthStatues} from "@/entities/user";

import {useRequest} from "@/shared/api";
import {DEFAULT_ERROR_MESSAGE} from "@/shared/config";
import {ButtonUI, EmptyButtonUI, TextButtonUI} from '@/shared/ui/components/button-ui';
import {ErrorUI} from "@/shared/ui/components/error-ui";
import {FilledLoaderUI} from "@/shared/ui/components/loaders-ui";


const router = useRouter();
const {params} = useRoute();
const viewer = useViewerStore();
const draft = useDraftStore();

const {request, isLoading, error} = useRequest(DEFAULT_ERROR_MESSAGE);

onMounted(async () => {
  if (params.slug) {
    await request(() => publishPost(params.slug as string));

    if (!error && draft.post?.slug === params.slug) {
      draft.setPost(null);
    }
  }
});

if (viewer.authStatus === AuthStatues.NOT_AUTHORIZED) {
  router.push({name: Routes.TRENDS});
}
</script>

<template>
  <ErrorUI :class="$style.container" v-if="error">
    {{ error.message }}
  </ErrorUI>
  <FilledLoaderUI :class="$style.container" v-else-if="isLoading">
    Публикуем пост..
  </FilledLoaderUI>
  <div :class="[$style.container, $style.postPublished]" v-else>
    <h3 class="font-sub-title-bold">Пост успешно опубликован!</h3>
    <span class="font-text"> Он уже появился в Новом, хотите просмотреть?</span>

    <div :class="$style.links">
      <router-link :class="$style.link" :to="{ name: Routes.POST, params: { slug: params.slug } }">
        <ButtonUI stretched>
          Перейти в пост
        </ButtonUI>
      </router-link>
      <router-link :class="$style.link" :to="{ name: Routes.NEW }">
        <EmptyButtonUI stretched>
          В новое
        </EmptyButtonUI>
      </router-link>
      <router-link :class="$style.link" :to="{ name: Routes.PROFILE }">
        <TextButtonUI stretched>
          В мой профиль
        </TextButtonUI>
      </router-link>
    </div>
  </div>
</template>

<style module lang="scss">
.container {
  margin-top: 32px;
  padding: 32px;
}

.postPublished {
  border-radius: 10px;
  gap: 32px;
  background: var(--color-gray-98);
  width: 100%;
  color: var(--color-gray-22);
  display: flex;
  flex-direction: column;
}

.checkPost {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 16px;
}
</style>
