<script setup lang='ts'>
import {useWindowSize} from '@vueuse/core';

import {Quote} from '@/shared/ui/components/quote-ui';

import type {IProfileHeader} from '../model/types';

import Avatar from "./avatar-ui/Avatar.vue";
import ProfileInformation from './ProfileInformation.vue';

const { width } = useWindowSize();

const { registration, name, status, avatar } = defineProps<IProfileHeader>();
</script>

<template>
	<div :class="$style.container">
		<Avatar :size="width > 430 ? 128 : 100" round :src="avatar"></Avatar>
		<div :class="$style.information">
			<ProfileInformation :name="name" :registration="registration" />
			<div v-show="width > 430" :class="$style.actions">
				<slot></slot>
			</div>
		</div>
	</div>
	<div v-show="width <= 430" :class="$style.actions">
		<slot></slot>
	</div>
	<Quote :text="status" />
</template>

<style module lang='scss'>
.container {
	display: flex;
	justify-content: flex-start;
	align-items: stretch;
	gap: 16px;
	margin-bottom: 32px;
}

.information {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	flex-grow: 1;
}

.actions {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 4px;
	width: 100%;
}

@media screen and (max-width: $screen-sm) {
	.container {
		margin-bottom: 20px;
	}

	.actions {
		width: 100%;
		margin-bottom: 20px;
	}
}
</style>
