<script setup lang='ts'>
import type {IProfileInformation} from '../model/types'

const { name, registration } = defineProps<IProfileInformation>();
const parseDate = (date: Date) => {
	return date.toLocaleDateString('ru-RU');
}
</script>

<template>
	<div>
		<p :class="$style.profileName">{{ name }}</p>
		<p :class="$style.profileDate">На сайте с {{ parseDate(registration) }}</p>
	</div>
</template>

<style module lang='scss'>
.profileName {
	font: var(--font-sub-title-bold);
	color: var(--color-gray-22);
	margin-bottom: 8px;
}

.profileDate {
	font: var(--font-text);
	color: var(--color-gray-53);
}
</style>
