<script setup lang='ts'>
import { reactive } from 'vue';



import { defaultStats } from '../model/consts';
import type {IProfileStatsProps} from '../model/types';
import {ProfileStatsItem} from '../ui/profile-stats-ui';

const statsState = reactive(defaultStats);
const props = defineProps<IProfileStatsProps>();

Object.entries(props).forEach(([key, value]) => {
	const statsKey = key as keyof IProfileStatsProps;
	if (props[statsKey] !== undefined) {
		statsState.stats[statsKey].value = value;
	}
});
</script>

<template>
	<div :class="$style.container">
		<ProfileStatsItem
			v-for="({ value, title }, index) in statsState.stats"
			:title="title"
			:value="value"
			:key="index"
		/>
	</div>
</template>

<style module lang='scss'>
.container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
	gap: 16px 50px;
}

@media screen and (max-width: $screen-xxl) {
	.container {
		gap: 16px 0;
	}
}

@media screen and (max-width: $screen-lg) {
	.container {
		gap: initial;
	}
}

@media screen and (max-width: $screen-sm) {
	.container {
		overflow-x: scroll;
		flex-wrap: nowrap;
		justify-content: flex-start;
		-ms-overflow-style: none;
		scrollbar-width: none;
	}

	.container::-webkit-scrollbar {
		display: none;
	}
}
</style>
