<script setup lang="ts">
import {storeToRefs} from 'pinia';
import {ref} from 'vue';

import {Routes} from '@/pages';

//TODO
// eslint-disable-next-line
import {AuthWidget} from '@/widgets/auth-widget';

import {ESidebars, sidebars} from '@/features/sidebars';

import {useViewerStore} from '@/entities/user';

import {CloseIcon, MenuIcon, PlusIcon, ShortLogoIcon, UserIcon} from '@/shared/ui/assets';
import {CentralColumn} from '@/shared/ui/components/block-ui';
import {Icon, IconSizes} from '@/shared/ui/components/icon';
import {OnlyIconButtonUI} from '@/shared/ui/components/icon-button-ui';
import {ModalUI} from '@/shared/ui/components/modal-ui';

const { profile } = storeToRefs(useViewerStore());
const showAuthWidget = ref(false);
</script>

<template>
	<div :class="$style.header">
		<slot name="left-content">
			<div :class="$style.headerItem">
				<Icon
					:size="IconSizes.THIRTY_TWO"
					v-if="!sidebars.navSidebar && !sidebars.profileSidebar"
					@click="() => sidebars.toggleSidebar(ESidebars.NAVIGATION)"
					clickable
				>
					<MenuIcon />
				</Icon>
				<div
					:class="$style.closeIcon"
					@click="
						() =>
							sidebars.toggleSidebar(sidebars.navSidebar ? ESidebars.NAVIGATION : ESidebars.PROFILE)
					"
					v-else
				>
					<Icon :size="IconSizes.TWELVE" clickable>
						<CloseIcon />
					</Icon>
				</div>
				<router-link :to="{ name: Routes.TRENDS }" :class="$style.shortLogoLink">
					<ShortLogoIcon />
				</router-link>
			</div>
		</slot>

		<slot name="right-content">
			<div :class="$style.headerItem">
<!--				<OnlyIconEmptyButtonUI>-->
<!--					<Icon :size="IconSizes.SIXTEEN">-->
<!--						<MegaphoneIcon class="color-primary-1"/>-->
<!--					</Icon>-->
<!--				</OnlyIconEmptyButtonUI>-->

				<OnlyIconButtonUI v-if="profile">
					<Icon :size="IconSizes.SIXTEEN">
						<PlusIcon />
					</Icon>
				</OnlyIconButtonUI>

				<div
					v-if="profile"
					:class="$style.avatar"
					@click="() => sidebars.toggleSidebar(ESidebars.PROFILE)"
				>
					<img :class="$style.avatarImg" :src="profile.avatar" alt="Аватар" v-if="profile.avatar" />
					<Icon :size="IconSizes.THIRTY_TWO" v-else>
						<UserIcon />
					</Icon>
				</div>

				<div v-else>
					<span :class="[$style.authText, 'font-text color-gray-22']" @click="showAuthWidget = true"
						>Войти</span
					>
					<ModalUI :open="showAuthWidget" @close="showAuthWidget = false">
						<CentralColumn :class="$style.authWidget">
							<AuthWidget>
								<template #login-header-right>
									<Icon :size="IconSizes.TWELVE" clickable @click="showAuthWidget = false">
										<CloseIcon />
									</Icon>
								</template>
							</AuthWidget>
						</CentralColumn>
					</ModalUI>
				</div>
			</div>
		</slot>
	</div>
</template>

<style module>
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 56px;
	padding: 10px 12px;
}

.headerItem {
	display: flex;
	align-items: center;
	gap: 24px;
}

.closeIcon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
}

.shortLogoLink {
	width: 36px;
	height: 32px;
}

.avatar {
	cursor: pointer;
}

.avatarImg {
	display: inline-block;
	height: 32px;
	width: 32px;
	border-radius: 50%;
}

.authWidget {
  margin-top: 32px;
	padding: 4px;
  width: 350px;
	max-width: 95%;
}
</style>
