<script setup lang='ts'>
import { storeToRefs } from 'pinia';

import { useVerificationStore } from '../lib/verify';

const verificationStore = useVerificationStore();
const { confirmVerification } = verificationStore;
const { verified } = storeToRefs(verificationStore);
</script>

<template>
	<div>
		<slot v-if="verified" name="sub-on"></slot>
		<div :class="$style.confirm" @click="confirmVerification" v-else>
			<slot name="sub-off"></slot>
		</div>
	</div>
</template>

<style module>
.confirm {
	width: 100%;
}
</style>
