<script setup lang="ts">
import {autoUpdate, flip, shift, useFloating} from '@floating-ui/vue';
import {ref} from 'vue';

import {WarningCircleIcon} from '@/shared/ui/assets';
import {Icon, IconSizes} from '@/shared/ui/components/icon';

const reference = ref(null);
const floating = ref(null);
const { floatingStyles } = useFloating(reference, floating, {
	middleware: [shift(), flip()],
	whileElementsMounted: autoUpdate
});

const showHintPopup = ref(false);

const openHintPopup = () => {
	showHintPopup.value = true;
};

const closeHintPopup = () => {
	if (showHintPopup.value) {
		showHintPopup.value = false;
	}
};
</script>

<template>
	<Icon
		:size="IconSizes.SIXTEEN"
		v-outside-click="closeHintPopup"
		:class="$style.hintIcon"
		ref="reference"
		@click="openHintPopup"
	>
		<WarningCircleIcon />
	</Icon>

	<div :class="$style.hintWrapper" ref="floating" :style="floatingStyles" v-show="showHintPopup">
		<slot name="hint"></slot>
	</div>
</template>

<style module lang="scss">
.hintIcon {
	cursor: pointer;
}

.clearIcon {
	width: 14px;
	height: 14px;
	cursor: pointer;
}

.hintWrapper {
	margin: 4px;
	padding: 12px;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	width: 264px;
	height: auto;
	font: var(--font-small);
	border-radius: var(--style-radius-10);
	background-color: var(--color-gray-98);
	border: 1px solid var(--color-gray-92);
	color: var(--color-gray-22);
	overflow: hidden;
	z-index: 1000;
}
</style>
