<script setup lang="ts">
import { ref, watch } from 'vue';

import { RequestCodeTypes, useViewerStore, useAuthStore } from "@/entities/user";

import { getTimerValue } from "@/shared/lib/time-tools";
import { useForm } from "@/shared/lib/use-form";
import { requiredValidator } from '@/shared/lib/validators';
import { ButtonUI } from '@/shared/ui/components/button-ui';
import { ErrorUI } from '@/shared/ui/components/error-ui';
import { InputUI } from "@/shared/ui/components/input-ui";

import type { AccountVerificationFormEmits } from "../types";

const emits = defineEmits<AccountVerificationFormEmits>();
const props = defineProps<{code?: string | null}>();
const auth = useAuthStore();
const viewer = useViewerStore();

const countdown = ref<number>(60);
let countdownInterval: NodeJS.Timeout;
const createCountdownInterval = () => {
	if (countdownInterval) {
		clearInterval(countdownInterval);
	}

	countdown.value = 60;

	countdownInterval = setInterval(() => {
		if (countdown.value === 0) {
			clearInterval(countdownInterval);
		} else {
			countdown.value--;
		}
	}, 1000);
}

const form = useForm({
	code: {
		value: props.code || null,
		validators: [requiredValidator()],
	},
});

const unhandledAPIErrors = ref<string[]>([]);
const apiHasErrors = ref<boolean>(false);

watch(unhandledAPIErrors, (value) => (apiHasErrors.value = value.length > 0));

const sendAgain = async () => {
	if (countdown.value !== 0)
		return;

	await auth.requestCode(RequestCodeTypes.EMAIL);

	//Errors router
	if (auth.error) {
		const error = auth.error;

		if (error.message) {
			unhandledAPIErrors.value = [error.message];
		} else {
			unhandledAPIErrors.value = ['Что-то пошло не так:('];
		}
	}

	createCountdownInterval();
}

//TODO almost duplicate with LoginForm
const confirmCode = async () => {
	const {code} = form.fields;

	unhandledAPIErrors.value = [];
	form.validateAll();

	if (form.hasErrors.value) {
		return;
	}

	const response = await auth.confirmCode(code);

	//Errors router
	if (auth.error) {
		const error = auth.error;

		if (error.message) {
			unhandledAPIErrors.value = [error.message];
		} else {
			unhandledAPIErrors.value = ['Что-то пошло не так:('];
		}
	} else {
		if (response) {
			await viewer.load(response.username);
		}

		emits('submit');
	}
};

createCountdownInterval();

watch(() => props.code, (code) => {
  if (code) {
    form.fields.code = code;
  }
})
</script>

<template>
	<div :class="$style.container">
		<ErrorUI v-for="(error, index) in unhandledAPIErrors" :key="index">
			<span>{{ error }}</span>
		</ErrorUI>

		<InputUI
			v-model="form.fields.code"
			:errors="form.errors.code"
			:is-error="apiHasErrors"
			label="Введите код, отправленный на вашу электронную почту"
		/>

		<div :class="$style.action" v-if="!form.fields.code">
			<span :class="{[$style.activeText]: countdown === 0 }" @click="sendAgain">Отправить ещё раз</span>
			<span v-if="countdown">{{ getTimerValue(countdown) }}</span>
		</div>

		<ButtonUI @click="confirmCode" :disabled="form.hasErrors.value" :is-loading="auth.isLoading">Войти</ButtonUI>
	</div>
</template>

<style module>
.container {
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	gap: 32px;
	width: 100%;
  font: var(--font-text);
}
.container > button {
	width: 100%;
}

.action {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: var(--color-gray-73);
}
.activeText {
  color: var(--color-primary-1);
  cursor: pointer;
}
</style>
