<script setup lang="ts">
import { ref, watch } from 'vue';

// eslint-disable-next-line
import { Routes } from '@/pages';

import type { RegistrationFormEmits } from "@/features/registration-form";

import { useAuthStore } from "@/entities/user";

import { useForm } from "@/shared/lib/use-form";
import {
	emailValidator,
	requiredValidator,
	notLongerThanValidator,
	notShorterThanValidator,
	charactersValidator,
	valuesMatchValidator,
	minLetterCountValidator,
	minNumbersCountValidator
} from '@/shared/lib/validators';
import { EmptyButtonUI } from '@/shared/ui/components/button-ui';
import { CheckboxUI } from '@/shared/ui/components/checkbox-ui';
import { ErrorUI } from '@/shared/ui/components/error-ui';
import { InputUI } from '@/shared/ui/components/input-ui';

const emits = defineEmits<RegistrationFormEmits>();

const auth = useAuthStore();

const passwordRepeatValidator = (value: string) => {
	return valuesMatchValidator(form.fields.password || value, 'Пароли не совпадают')(value);
};

const form = useForm({
	email: {
		value: null,
		validators: [
			emailValidator(),
			requiredValidator()
		],
	},
	username: {
		value: null,
		validators: [
			notLongerThanValidator(16),
			notShorterThanValidator(4),
			requiredValidator(),
			charactersValidator(/^[a-zA-Z0-9\-._]+$/)
		],
	},
	password: {
		value: null,
		validators: [
			notShorterThanValidator(8, 'Не менее 8 символов'),
			minNumbersCountValidator(1, 'Требуется минимум 1 цифра'),
			minLetterCountValidator(1, 'Требуется минимум 1 буква'),
			charactersValidator(
				/^[a-zA-Z0-9!@#$%^&*()+]+$/,
				'Разрешены буквы (a-z, A-Z), цифры (0-9) и символы (!@#$%^&*()_-+=)'
			)
		],
	},
	passwordRepeat: {
		value: null,
		validators: [passwordRepeatValidator],
	},
});

const agreementIsAccepted = ref<boolean>(false);

const unhandledAPIErrors = ref<string[]>([]);
const apiHasErrors = ref<boolean>(false);

watch(unhandledAPIErrors, (value) => (apiHasErrors.value = value.length > 0));

//TODO almost duplicate with LoginForm
const register = async () => {
	const {email, username, password} = form.fields;

	unhandledAPIErrors.value = [];
	form.validateAll();

	if (form.hasErrors.value) {
		return;
	}

	await auth.register(email, username, password);

	//Errors router
	if (auth.error) {
		const error = auth.error;

		if (error.message) {
			unhandledAPIErrors.value = [error.message];
		} else {
			unhandledAPIErrors.value = ['Что-то пошло не так:('];
		}
	} else {
		emits('submit');
	}
};
</script>

<template>
	<main :class="$style.main">
		<fieldset :class="$style.fieldset">
			<ErrorUI v-for="(error, index) in unhandledAPIErrors" :key="index">
				<span>{{ error }}</span>
			</ErrorUI>

			<InputUI
				label="Электронная почта*"
				placeholder="example@mail.ru"
				show-hint
				v-model="form.fields.email"
				:errors="form.errors.email"
				:is-error="apiHasErrors"
			>
				<template #hint>
					<p>Размер ника от 4 до 16 символов;</p>
					<p>
						Разрешены буквы (a-z, A-Z), цифры (0-9), дефис (-), точка (.), нижнее подчеркивание (_)
					</p>
				</template>
			</InputUI>

			<InputUI
				label="Ник*"
				show-hint
				v-model="form.fields.username"
				:errors="form.errors.username"
				:is-error="apiHasErrors"
			>
				<template #hint>
					<p>Размер ника от 4 до 16 символов;</p>
					<p>
						Разрешены буквы (a-z, A-Z), цифры (0-9), дефис (-), точка (.), нижнее подчеркивание (_)
					</p>
				</template>
			</InputUI>

			<InputUI
				:class="$style.passwordInput"
				label="Пароль*"
				show-hint
				hide-text
				v-model="form.fields.password"
				:checked-errors="form.errors.password"
				:is-error="apiHasErrors"
			>
				<template #hint>
					<p>Размер пароля от 8 до 128 символов;</p>
					<p>Разрешены буквы (a-z, A-Z), цифры (0-9) и символы (!@#$%^&*()+);</p>
					<p>Требуется минимум одна буква и минимум одна цифра</p>
				</template>
			</InputUI>

			<InputUI
				label="Повторите пароль*"
				show-hint
				hide-text
				v-model="form.fields.passwordRepeat"
				:errors="form.errors.passwordRepeat"
				:is-error="apiHasErrors"
			>
				<template #hint>
					<p>Размер пароля от 8 до 128 символов;</p>
					<p>Разрешены буквы (a-z, A-Z), цифры (0-9) и символы (!@#$%^&*()_-+=);</p>
					<p>Требуется минимум одна буква и минимум одна цифра</p>
				</template>
			</InputUI>

			<CheckboxUI v-model="agreementIsAccepted">
				<span :class="$style.licenseLinkLabel">
					Ознакомлен и согласен с условиями&nbsp;
					<router-link :to="{ name: Routes.USER_AGREEMENT }" :class="$style.licenseLink">
						пользовательского соглашения
					</router-link>
				</span>
			</CheckboxUI>
		</fieldset>

		<div :class="$style.buttons">
			<EmptyButtonUI :disabled="!agreementIsAccepted || form.hasErrors.value" @click="register" :is-loading="auth.isLoading">
				Зарегистрироваться
			</EmptyButtonUI>
		</div>
	</main>
</template>

<style module>
.main,
.fieldset {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 32px;
}

.header > h3 {
	font: var(--font-sub-title-bold);
}

.fieldset {
	margin: unset;
	padding: unset;
	border: unset;
	gap: 20px;
}

.licenseLinkLabel {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 100%;
	flex-wrap: wrap;
	font: var(--font-small);
}

.licenseLink {
	color: var(--color-primary-1);
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	gap: 32px;
}

.buttons > * {
	width: 100%;
}
</style>
