<script setup lang='ts'>
import { storeToRefs } from 'pinia';

import { FilterIcon } from '@/shared/ui/assets';
import { Icon, IconSizes } from '@/shared/ui/components/icon';
import { OnlyIconEmptyButtonUI } from '@/shared/ui/components/icon-button-ui';

import { feeds } from '../consts';
import { useFeedStore } from '../lib/feed-switch';

const feedStore = useFeedStore();
const { changeFeed } = feedStore;
const { activeFeed } = storeToRefs(feedStore);
const feedItems = Object.entries(feeds);
</script>

<template>
	<div :class="$style.container">
		<div :class="$style.feeds">
			<div
				v-for="([feed, { id, title }]) in feedItems"
				:key="id"
				@click="() => changeFeed(feed)"
				:class="[$style.item, {
				[$style.activeItem]: feed === activeFeed,
			}]"
			>
				{{ title }}
			</div>
		</div>
		<div :class="$style.filter">
			<OnlyIconEmptyButtonUI :borderless="true" :size="36">
				<Icon :size="IconSizes.SIXTEEN">
					<FilterIcon />
				</Icon>
			</OnlyIconEmptyButtonUI>
		</div>
	</div>
</template>

<style module lang='scss'>
.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.feeds {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 32px;
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.feeds::-webkit-scrollbar {
	display: none;
}

.item {
	padding: 16px 4px;
	font: var(--font-sub-title);
	color: var(--color-gray-22);
	cursor: pointer;
}

.activeItem {
	font: var(--font-sub-title-bold);
	cursor: auto;
}

.filter {
	flex-shrink: 0;
}

@media screen and (max-width: $screen-sm) {
	.feeds {
		gap: 0;
	}
}
</style>
