<script setup lang="ts">
import {useRoute} from "vue-router";

import { ShowViewedPosts } from '@/features/show-viewed-posts';

import {createPublishedFeedFetcher, selectPublishedFeed, PostsFeeds} from "@/entities/posts-feed";

import {CentralColumn} from '@/shared/ui/components/block-ui';
import {ErrorUI} from "@/shared/ui/components/error-ui";

import CollectedPostsFeed from "./ui/CollectedPostsFeed.vue";

const route = useRoute();
const fetcher = createPublishedFeedFetcher();
const feed = selectPublishedFeed(route.name as PostsFeeds);

if (feed) {
	feed.reload(fetcher);
}
</script>

<template>
	<CentralColumn :class="$style.container">
    <template v-if="feed">
      <ShowViewedPosts :class="$style.showViewedPosts" />
      <CollectedPostsFeed
          :is-loading="feed.isLoading"
          :is-last-page="feed.isLastPage"
          :error="feed.error? feed.error.message : null"
          :posts="feed.posts"
          @scroll-end="feed.upload(fetcher)"
      />
    </template>

    <ErrorUI v-else>
      Отсутствует лента
    </ErrorUI>
  </CentralColumn>
</template>

<style module lang="scss">
.container {
	padding-top: 32px;
	align-items: start;
	gap: 32px;
}

.header {
	display: flex;
	justify-content: start;
	width: 100%;
}

.showViewedPosts {
	padding: 0 12px;
	font: var(--font-small);
}

@media screen and (max-width: $screen-md) {
	.container {
		padding-top: 12px;
		align-items: start;
		gap: 12px;
	}
}
</style>
