<script setup lang="ts">
// import type {IPost} from "@/entities/post/model/types";
// import PreviewPostUI from "@/entities/post/ui/PreviewPostUI.vue";
// import ViewerPreview from "@/entities/user/ui/ViewerPreview.vue";
// import TagsList from "@/entities/tag/ui/TagsList.vue";
// import GoToPrevPage from "@/features/GoToPrevPage.vue";
import {PageLayout} from '@/widgets/page-layout';
// import UniformBlockUI from "@/shared/ui/block-ui/blocks/UniformBlockUI.vue";
// import HeaderWidget from "@/widgets/HeaderWidget.vue";

//TODO page
// const mockPost: IPost = {
//   tags: ['tag 1', 'tag 1', 'tag 1'],
//   title: 'Title',
//   content: [
//     { type: 'text', value: 'Content' },
//   ]
// };
// const author: AuthorProfile = {
//   username: 'username',
//   avatar: null,
// }
</script>

<template>
	<PageLayout>
<!--    <template #header-mobile>-->
<!--      <HeaderWidget>-->
<!--        <template #left-content>-->
<!--          <GoToPrevPage>-->
<!--            <slot name="prevPageTitle"></slot>-->
<!--          </GoToPrevPage>-->
<!--        </template>-->
<!--      </HeaderWidget>-->
<!--    </template>-->

<!--		<template #content>-->
<!--      <UniformBlockUI :class="$style.info">-->
<!--        <h2>Предпросмотр поста</h2>-->
<!--        <p>Так будет выглядеть ваш пост, внимательно проверьте его.</p>-->
<!--      </UniformBlockUI>-->

<!--      <PreviewPostUI :post="mockPost">-->
<!--        <template #header>-->
<!--          <ViewerPreview :user="author">-->
<!--            <template #subTitle="{ class: className }">-->
<!--              <span :class="className">30 августа 2022 в 15:36</span>-->
<!--            </template>-->
<!--          </ViewerPreview>-->
<!--        </template>-->

<!--        <template #tags>-->
<!--          <TagsList :tags="mockPost.tags"/>-->
<!--        </template>-->
<!--      </PreviewPostUI>-->
<!--		</template>-->
	</PageLayout>
</template>

<style module lang="scss">
.info > h2 {
  font: var(--font-sub-title-bold);
}
.info > p {
  font: var(--font-text);
}
</style>
