<script setup lang="ts">
</script>

<template>
	<span :class="[$style.link]">
		<slot></slot>
	</span>
</template>

<style module lang="scss">
.link {
	display: flex;
	cursor: pointer;
}

.saveColors {
	color: inherit;
}
</style>