<script setup lang="ts">
import type { Editor } from "@tiptap/vue-3";

import {
  BoldIcon, HyperlinkIcon, ItalicIcon, ListNumbersIcon, QuoteIcon, StrikeIcon, ListBulletsIcon
} from '@/shared/ui/assets';
import { IconSizes, Icon } from "@/shared/ui/components/icon";

import {setLink} from "../lib/toolabar-link-toggler";

const { editor } = defineProps<{editor: Editor | undefined}>();
</script>

<template>
  <div :class="$style.toolbar" v-if="editor">
    <div @click="editor.chain().focus().toggleBold().run()">
      <Icon :size="IconSizes.SIXTEEN">
        <BoldIcon/>
      </Icon>
    </div>

    <div @click="editor.chain().focus().toggleItalic().run()">
      <Icon :size="IconSizes.SIXTEEN">
        <ItalicIcon/>
      </Icon>
    </div>

    <div @click="editor.chain().focus().toggleStrike().run()">
      <Icon :size="IconSizes.SIXTEEN">
        <StrikeIcon/>
      </Icon>
    </div>

    <div @click="editor.chain().focus().toggleBlockquote().run()">
      <Icon :size="IconSizes.SIXTEEN">
        <QuoteIcon/>
      </Icon>
    </div>

    <div @click="editor.chain().focus().toggleBulletList().run()">
      <Icon :size="IconSizes.SIXTEEN">
        <ListBulletsIcon/>
      </Icon>
    </div>

    <div @click="editor.chain().focus().toggleOrderedList().run()">
      <Icon :size="IconSizes.SIXTEEN">
        <ListNumbersIcon/>
      </Icon>
    </div>

		<div @click="setLink(editor)" :class="$style.linkTool">
			<Icon :size="IconSizes.SIXTEEN">
				<HyperlinkIcon/>
			</Icon>
			<span>{{ editor.getAttributes('link').href }}</span>
		</div>

  </div>
</template>

<style module lang="scss">
.toolbar {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  max-width: 100%;
  flex-wrap: wrap;
  gap: 16px;
}

.toolbar > * {
  cursor: pointer;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-95);
}
.toolbar > *:hover {
  color: var(--color-primary-1);
}

.linkTool {
	display: flex;
	gap: 4px;
	line-height: 100%;
}
</style>
