<script setup lang="ts">
import {onMounted, ref} from 'vue';

import {ReloadIcon, TrashIcon} from '@/shared/ui/assets';
import {ButtonUI} from '@/shared/ui/components/button-ui';
import {IconTextButtonUI} from '@/shared/ui/components/icon-button-ui';

import type {ImageFieldEmits, ImageFieldProps} from './types';

const emits = defineEmits<ImageFieldEmits>();
const props = defineProps<ImageFieldProps>();

const fileInput = ref();
const image = ref<HTMLImageElement | null>(null);
const previewImage = ref(props.src || undefined);

const removeImage = () => {
  previewImage.value = undefined;
  emits('imageRemoved');
};

const onLoad = () => {
  if (!image.value)
    return;

  const width = image.value.naturalWidth;
  const height = image.value.naturalHeight;
  const src = image.value.src;

  emits('imageLoaded', {
    width, height, src,
  });
};

const uploadImage = (e: Event) => {
  const field = e.target as HTMLInputElement;

	if (!field.files) {
		return;
	}

	const imageFile = field.files[0];
	const reader = new FileReader();

	reader.readAsDataURL(imageFile);
	reader.onload = () => {
		if (typeof reader.result !== 'string' || !image.value)
      return;
    //TODO Load on cloud
    previewImage.value = reader.result;
    image.value.addEventListener('load', onLoad);
	};
};

onMounted(() => {
	if (props.openImmediately && !previewImage.value) {
		fileInput.value.click();
	}
});
</script>

<template>
	<div :class="$style.container" v-show="!(props.openImmediately && !previewImage)">
		<input
			:class="$style.input"
			type="file"
			accept="image/jpeg"
			@change="uploadImage"
			ref="fileInput"
		/>
		<img v-show="previewImage" :src="previewImage" alt="Загруженное изображение" ref="image" />
		<ButtonUI :class="$style.loadImageButton" v-if="!previewImage" @click="fileInput.click()">
			Загрузить изображение
		</ButtonUI>
		<div :class="$style.actions">
			<IconTextButtonUI :class="$style.actionButton" @click="removeImage">
				<template #left-icon>
					<TrashIcon :class="$style.actionIcon" />
				</template>
			</IconTextButtonUI>
			<IconTextButtonUI
				:class="$style.actionButton"
				@click="fileInput.click()"
				v-show="previewImage"
			>
				<template #left-icon>
					<ReloadIcon :class="$style.actionIcon" />
				</template>
			</IconTextButtonUI>
		</div>
	</div>
</template>

<style module lang="scss">
.container {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 100%;
	border-radius: var(--style-radius-5);
	background-color: var(--color-gray-98);
}

.input {
	display: none;
}

.container img {
	width: 100%;
	max-width: 100%;
}

.loadImageButton {
	margin: 16px;
}

.actions {
	position: absolute;
	top: 12px;
	right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 12px;
	z-index: 1;
}
.actionButton {
	padding: 8px;
	opacity: 0.6;
  border-radius: var(--style-radius-10);
  background-color: var(--color-gray-98);
  color: var(--color-primary-1);
}
.actionButton:hover {
	opacity: 1;
}
.actionIcon {
	width: 16px;
	height: 16px;
}
</style>
